<div id="buyer-ordergroups col-xs-12 col-sm-4 col-lg-4">


    <div class="btn-group pull-right" role="group" aria-label="">
        <div id="vent-export" class="btn btn-primary btn-xs">Экспорт списка в Excel</div>
        <div id="vent-callback" class="btn btn-primary btn-xs">Обратный звонок</div>
        <div id="vent-refresh"  class="btn btn-primary btn-xs">Обновить</div>
    </div>

    <div class="clearfix"></div>

    <div id="buyer-ordergroups-list"></div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div id="region-bulk-actions"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div id="buyer-ordergroups-pagination"></div>
        </div>

    </div>

</div>