<thead>
<tr>
    <th class="seller">
        Продавец
        <span class="glyphicon glyphicon-align-left"></span>
    </th>
    <th class="has-good">
        В наличии
        <span class="glyphicon glyphicon-align-left"></span>
    </th>
    <th class="price">
        Цена, <span class="fa fa-rub"></span>
        <span class="glyphicon glyphicon-align-left"></span>
    </th>
    <th class="delivery">
        Доставка
        <span class="glyphicon glyphicon-align-left"></span>
    </th>
    <th class="good-amount">
        Количество
    </th>
    <th></th>
</tr>
</thead>