<div class="trader-tabpanel orders orders--trader" id="trader-orders">

    <ul class="nav nav-tabs">
        <li role="presentation"><a data-target="#trader-orders-current" href="#trader/orders/current">Товары в заказах</a></li>
        <li class="hidden" role="presentation"><a data-target="#trader-orders-history" href="#trader/orders/history">Заказы</a></li>
        <li role="presentation"><a data-target="#trader-orders-ordergroups" href="#trader/orders/ordergroups">Заказы</a></li>
    </ul>

    <div id="region-main"" class="orders__region"></div>

</div>