<div class="table-responsive">
    <table class="table">
        <thead>
            <tr class="">
                <th class="select-all text-center"><input type="checkbox" class="" id="trader-orders-select-all"></th>
                <th class="select-all">№ доставки</th>
                <th class="select-all">Дата доставки</th>
                <th class="select-all">№ заказа</th>
                <th class="select-all">Дата заказа</th>
                <th class="select-all">Товар</th>
                <th class="select-all">Кол-во</th>
                <th class="select-all">Стоимость <i class="fa fa-rub"></i></th>
                <th class="select-all">Бонусы <i class="fa fa-rub"></i></th>
                <th class="select-all">Сумма <i class="fa fa-rub"></i></th>
                <th class="select-all">Покупатель</th>
                <th class="select-all">Статус</th>
            </tr>
        </thead>
        <tbody><!-- Здесь выводим Orders --></tbody>
    </table>
</div>