<div id="producer-login-view">

    <div style="display: table; margin: 0 auto; width: 300px">
		
		<h3>Вход для производителей</h3>
		
		<form role="form" data-toggle="validator" id="login-form" method="post">
			<div class="form-group">
				<input type="text" name="name" class="form-control" id="inputProducerLogin" placeholder="Введите GLN или ИНН">
			</div>
			<div class="form-group">
				<input type="password" name="password" class="form-control" id="inputProducerPsw" placeholder="Пароль">
			</div>
			<div class="form-group">
				<button type="button" id="producerLoginBtn" class="btn btn-primary">
					Войти
				</button>
			</div>
		</form>
		
	</div>

</div>