
<div class="panel panel-default" id="trader-site-container">
    <div class="clearfix row upload-logo-wrapper">
            <div class="control-label col-sm-4"></div>
            <div class="col-sm-8">
                <img class="js-logo" >
                <a id="upload-logo" href="#" class="btn btn-primary btn-sm"z>
                    <span class="fa fa-upload"> </span>
                    Загрузить логотип
                    <input type="file" id="fileUploadInput" name="data">
                </a>
            </div>
    </div>
    <form id="trader-site-form" class="form-horizontal">

        <!--<br/>-->

        <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label" for="shop-description">-->
                <!--Краткое описание-->
            <!--</label>-->
            <!--<div class="col-sm-6">-->
                <!--<textarea rows="5" class="form-control" id="shop-description" name="description" data-field="genDescription">-->
                <!--</textarea>-->
            <!--</div>-->
        <!--</div>-->

        <!--<br/>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-3">-->
                <!--Способы доставки-->
            <!--</label>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-3">-->
                <!--Экспресс доставка-->
                <!--<span class="fa fa-fw fa-male"> </span>-->
            <!--</label>-->
            <!--<div class="col-sm-6">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input id="shipment-type-active-1" name="shipment-active-1" type="checkbox" data-field="shipmentType1.active">-->
                        <!--Активно-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-description-1">-->
                <!--Описание-->
            <!--</label>-->
            <!--<div class="col-sm-5">-->
                <!--<input class="form-control" id="shipment-type-description-1" name="shipment-description-1" type="text" data-field="shipmentType1.description">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-price-1">Цена</label>-->
            <!--<div class="col-sm-2">-->
                <!--<input class="form-control" id="shipment-type-price-1" name="shipment-price-1" type="text" >-->
            <!--</div>-->

            <!--<label class="control-label col-sm-2" for="shipment-type-days-1">Время доставки (дни)</label>-->
            <!--<div class="col-sm-1">-->
                <!--<input class="form-control" id="shipment-type-days-1" name="shipment-days-1" type="text" >-->
            <!--</div>-->
        <!--</div>-->

        <!--<br/>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-3">-->
                <!--Доставка в течении 3-х дней-->
                <!--<span class="fa fa-fw fa-truck"> </span>-->
            <!--</label>-->
            <!--<div class="col-sm-6">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input id="shipment-type-active-2" name="shipment-active-2" type="checkbox" >-->
                        <!--Активно-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-description-2">Описание</label>-->
            <!--<div class="col-sm-5">-->
                <!--<input class="form-control" id="shipment-type-description-2" name="shipment-description-2" type="text" >-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-price-2">Цена</label>-->
            <!--<div class="col-sm-2">-->
                <!--<input class="form-control" id="shipment-type-price-2" name="shipment-price-2" type="text" >-->
            <!--</div>-->

            <!--<label class="control-label col-sm-2" for="shipment-type-days-2">Время доставки (дни)</label>-->
            <!--<div class="col-sm-1">-->
                <!--<input class="form-control" id="shipment-type-days-2" name="shipment-days-2" type="text" >-->
            <!--</div>-->
         <!--</div>-->

        <!--<br/>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-3">-->
                <!--Доставка почтой-->
                <!--<span class="fa fa-fw fa-envelope-o"> </span>-->
            <!--</label>-->
            <!--<div class="col-sm-6">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input id="shipment-type-active-3" name="shipment-active-3" type="checkbox" >-->
                        <!--Активно-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-description-3">Описание</label>-->
            <!--<div class="col-sm-5">-->
                <!--<input class="form-control" id="shipment-type-description-3" name="shipment-description-3" type="text" >-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-price-3">Цена</label>-->
            <!--<div class="col-sm-2">-->
                <!--<input class="form-control" id="shipment-type-price-3" name="shipment-price-3" type="text" >-->
            <!--</div>-->

            <!--<label class="control-label col-sm-2" for="shipment-type-days-3">Время доставки (дни)</label>-->
            <!--<div class="col-sm-1">-->
                <!--<input class="form-control" id="shipment-type-days-3" name="shipment-days-3" type="text" >-->
            <!--</div>-->
        <!--</div>-->

        <!--<br/>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-3">-->
                <!--Доставка в точку самозабора (?)-->
                <!--<span class="fa fa-fw fa-upload"> </span>-->
            <!--</label>-->
            <!--<div class="col-sm-6">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input id="shipment-type-active-4" name="shipment-active-4" type="checkbox" >-->
                        <!--Активно-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-description-4">Описание</label>-->
            <!--<div class="col-sm-5">-->
                <!--<input class="form-control" id="shipment-type-description-4" name="shipment-description-4" type="text" >-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-price-4">Цена</label>-->
            <!--<div class="col-sm-2">-->
                <!--<input class="form-control" id="shipment-type-price-4" name="shipment-price-4" type="text" >-->
            <!--</div>-->

            <!--<label class="control-label col-sm-2" for="shipment-type-days-4">Время доставки (дни)</label>-->
            <!--<div class="col-sm-1">-->
                <!--<input class="form-control" id="shipment-type-days-4" name="shipment-days-4" type="text" >-->
            <!--</div>-->
        <!--</div>-->

        <!--<br/>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-3">-->
                <!--Самовывоз-->
                <!--<span class="fa fa-fw fa-suitcase"> </span>-->
            <!--</label>-->
            <!--<div class="col-sm-6">-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input id="shipment-type-active-5" name="shipment-active-5" type="checkbox" >-->
                        <!--Активно-->
                    <!--</label>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-description-5">Описание</label>-->
            <!--<div class="col-sm-5">-->
                <!--<input class="form-control" id="shipment-type-description-5" name="shipment-description-5" type="text" >-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<label class="control-label col-sm-offset-3 col-sm-1" for="shipment-type-price-5">Цена</label>-->
            <!--<div class="col-sm-2">-->
                <!--<input class="form-control" id="shipment-type-price-5" name="shipment-price-5" type="text" >-->
            <!--</div>-->

            <!--<label class="control-label col-sm-2" for="shipment-type-days-5">Время доставки (дни)</label>-->
            <!--<div class="col-sm-1">-->
                <!--<input class="form-control" id="shipment-type-days-5" name="shipment-days-5" type="text" >-->
            <!--</div>-->
        <!--</div>-->
        <!-- -->
        <!--<br/>-->

        <!--<div class="form-group">-->
            <!--<label class="col-sm-3 control-label" for="shop-renewal">-->
                <!--Условия возврата и оплаты-->
            <!--</label>-->
            <!--<div class="col-sm-6">-->
                <!--<textarea rows="5" class="form-control" id="shop-renewal" name="description">-->
                <!--</textarea>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="form-group">-->
            <!--<div class="col-sm-offset-3 col-sm-3">-->
                <!--<button type="button" class="btn btn-primary">Сохранить</button>-->
            <!--</div>-->
        <!--</div>-->
    </form>
</div>

