<div class="dropdown" id="cart">
    <a id="cart-button" type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-shopping-cart"> </span>
        Ваша корзина пока пустая
        <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <div id="cart-dropdown"  class="dropdown-menu login-area cart-button" role="menu" aria-labelledby="cart-button">
        <ul id="cart-dropdown-items">

        </ul>
        <ul id="cart-dropdown-action">
            <li>
                Больше покупок - выше бонусный процент!
            </li>
            <li class="cart-button-items cart-button-items-btn">
                <div class="clearfix"><p></p></div>
                <a href="#catalog" type="button" class="btn btn-primary">Начать сейчас!</a>
                <div class="clearfix"><br></div>
            </li>
        </ul>
    </div>
</div>