<div id="cart-full" class="cart-full cart-order">
    <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#catalog" class="breadcrumb__uri">Каталог</a></li>
        <li><a href="#cart">Корзина</a></li>
        <li class="active">Оформление заказа</li>
    </ol>

    <div id="cart-full-before" class="cart-full-before row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Оформление заказа
                <div class="pull-right">

                </div>
            </h2>
            <br>
        </div>
    </div>

    <div id="cart-full-items" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

    </div>

    <div id="cart-full-after" class="table-responsive breadcrumb">



    </div>

</div>