<div class="buyer-tabpanel buyer-tabpanel-bonus" role="tabpanel" id="buyer-bonus">

    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#buyer/bonus/history" data-target="#buyer-bonus-region">Вывод и история</a></li>
        <li role="presentation"><a href="#buyer/bonus/bonuses" data-target="#buyer-bonus-region">Бонусы за покупки</a></li>
        <li role="presentation"><a href="#buyer/bonus/referral" data-target="#buyer-bonus-region">Реферальная система</a></li>
        <li role="presentation"><a href="#buyer/bonus/predicted" data-target="#buyer-bonus-region">Прогнозные</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="buyer-bonus-region"></div>
    </div>

</div>