<h3>Конструктор ссылок</h3>

    <p>Добавить данные о трафике (потом можно видеть разбивку по трафику в статистике)</p>
    <form class="form-horizontal">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="page">Целевая страница</label>
                <input type="text" class="form-control" id="page" placeholder="http://qweras.ru/#prodlist/2AE733CB-C2E2-4AFA-AD0D-E9782ACF13CE">
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="source">Источник</label>
                <input type="text" class="form-control" id="source" placeholder="yandex_cpc">
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="campaign">Кампания</label>
                <input type="text" class="form-control" id="campaign" placeholder="test">
            </div>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="promo">Промо-материал</label>
                <input type="text" class="form-control" id="promo" placeholder="promo1">
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="subId1">subId1</label>
                <input type="text" class="form-control" id="subId1" placeholder="banner1.jpg">
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="subId2">subId2</label>
                <input type="text" class="form-control" id="subId2" placeholder="Buy now!">
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <div class="form-group">
                <label for="subId3">subId3</label>
                <input type="text" class="form-control" id="subId3" placeholder="now!">
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="form-group">
                <label for="result">Результат</label>
                <input type="text" class="form-control" id="result">
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 hidden">
            <button type="button" id="vent-copy-result" class="btn btn-primary">Скопировать ссылку</button>
        </div>

    </form>

