<div id="trader-bids">

    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" id="bid-list-all-tab" class="active"><a href="#shop-bids-list-all" aria-controls="shop-bids-list-all" role="tab" data-toggle="tab">Все</a></li>
        <li role="presentation" id="my-asks-tab"><a href="#shop-my-asks-list" aria-controls="shop-my-asks-list" role="tab" data-toggle="tab">Мои отклики</a></li>
    </ul>

    <div class="clearfix">
        <br>
    </div>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="shop-bids-list-all"></div>
        <div role="tabpanel" class="tab-pane fade" id="shop-my-asks-list">
			Загрузка...
		</div>
    </div>




</div>