<h1>Передача магазинов менеджера</h1>

<div class="row" id="profile">
	<div class="col-xs-12  col-sm-6">
		<div>Имя</div>
		<h3><%- name %></h3>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div>Количество магазинов</div>
		<div><h4><%- shopsCount %></h4></div>
	</div>
	<div class="col-xs-12 col-sm-3">
		<div>Телефон</div>
		<div><h4><%- phone %></h4></div>
	</div>
</div>

<div id="manager-shops-list"></div>

<div class="row">
	<div class="col-xs-12 col-sm-3">
		<button type="button" class="btn btn-sm btn-primary" id="transferBtn">Передать...</button>
	</div>
	<div class="col-xs-12 col-sm-9">
		<div id="manager-shops-pagination" class="pull-right"></div>
	</div>
</div>