<div id="bid" class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title">Передача</h3>
        </div>
        <div class="modal-body">

			Передать следующие магазины
			<div class="well" id="transferShops"></div>
			
            Одному из следующих менеджеров
			<div id="transferManagers"></div>
			<div id="transferManagersPagination"></div>
			
			

        </div>
        <div class="modal-footer">
            <button type="button" id="modal-btn-no" class="btn yes" data-dismiss="modal" aria-label="Close">Отмена
            </button>
        </div>
    </div>
</div>