<div class="row">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
            <div class="input-group date" id="period_start">
                <span class="input-group-addon">с</span>
                <input type="text" class="form-control">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <div class="form-group">
            <div class="input-group date" id="period_end">
                <span class="input-group-addon">по</span>
                <input type="text" class="form-control">
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <button type="button" class="btn btn-default" id="download" data-placement="top" title="" data-toggle="tooltip" data-original-title="Выгрузка данных за выбранный период">
            <span class="fa fa-download"> </span>
            Выполнить
        </button>
    </div>
</div>