 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/additionalearnings" class="breadcrumb__uri">Дополнительный заработок</a></li>
    </ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">
        <div class="clearfix"><br></div>
        <strong><p> Уважаемые продавцы товаров и услуг!</p></strong>
        <div class="clearfix"><br></div>
        <p>Онлайн-гипермаркет  Qweras реализует бонусные программы среди продавцов. Фонд бонусной программы составляет 10% от сумм обеспечительного взноса по участвующим в программе сделкам. </p>
        <div class="clearfix"><br></div>
        <p>В течение календарного месяца, а именно, с 00:00:00 первого дня месяца по 23:59:59 последнего дня месяца, Qweras накапливает суммы совершенных заказов в разрезе продавцов, которые получили статус «Заказан» и выше. Формируется список продавцов, который ранжируется от больших сумм заказов к меньшим. В результате получается следующая последовательность:</p>
        <table style="width:100%"  class="table table-hover">
            <tr>
                <th>Место</th>
                <th>Продавец 1</th>
                <th>Сумма всех продаж в течение месяца, руб.</th>
            </tr>
            <tr>
                <td>1</td>
                <td>Продавец 2</td>
                <td>10 000 000</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Продавец 3</td>
                <td>9 000 000</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Продавец 4</td>
                <td>8 400 000</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Продавец 4</td>
                <td>8 200 000</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Покупатель 4</td>
                <td>7 900 000</td>
            </tr>
            <tr>
                <td>6</td>
                <td>Продавец 4</td>
                <td>7 480 000 </td>
            </tr>
            <tr>
                <td>……</td>
                <td>……….</td>
                <td>……….. </td>
            </tr>
        </table>
        <div class="clearfix"><br></div>
        <div class="clearfix"><br></div>
        <p> Если суммы покупок равны, то более высокое место получает продавец, который совершил первую продажу раньше.</p>
        <div class="clearfix"><br></div>
        <p>Бонусный фонд программы распределяется  по следующей схеме:</p>
        <div class="clearfix"><br></div>
        <p>Продавцу, занявшему первое место, присваивается цифра 0,9. Продавцу, занявшему второе место, присваивается 0,92. Продавцу, занявшему третье место, присваивается цифра 0,93. Со всеми остальными продавцами происходит аналогичное присваивание цифр (0,9n, где n – порядковый номер покупателя в списке). В результате образуется следующая последовательность:</p>
        <div class="clearfix"><br></div>
        <div class="clearfix"><br></div>
        <p>Если все цифры, присвоенные каждому продавцу, просуммировать, то получится цифра 9. Программа рассчитывает, какую долю составляет цифра каждого продавца в этой суммарной цифре 9. Пропорционально этим долям и распределяется бонусный фонд:</p>
        <div class="clearfix"><br></div>
        <div class="clearfix"><br></div>
        <p>Все суммы бонусов, которые накапливаются продавцами за разные дни, по распоряжению из личного кабинета продавца либо перечисляются на его реквизиты, либо учитываются в качестве депозитной суммы для обеспечения бесперебойной работы. </p>
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>