<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-10" style="text-align: justify;">
        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><strong>Общая информация покупателям</strong></li>
                    <br/>
                    <li ><a href="#page/howtobuy">Как совершить покупку</a></li>
                    <li ><a href="#page/delivery">Доставка</a></li>
                    <li ><a href="#page/goodsyourprice">Товар по вашей цене</a></li>
                    <li ><a href="#page/makeapurchase">Как заработать на покупках</a></li>
                    <li ><a href="#page/referralprogram">Реферальная программа</a></li>
                </ul>
            </div>
            <div class="col-sm-4">
                <ul class="list-unstyled">
                    <li><strong>Общая информация продавцам</strong></li>
                    <br/>
                    <li ><a href="#page/termspartnership">Условия сотрудничества</a></li>
                    <li ><a href="#">Образцы документов</a></li>
                    <li ><a href="#page/additionalearnings">Дополнительный заработок</a></li>
                    <!--li class="small"><a href="#page/rankingsystem">Дополнительные сервисы</a></li>-->
                    <li ><a href="#page/regulationtransaction">Регламент проведения сделки</a></li>
                    <li ><a href="#page/rankingsystem">Положение о рейтинговой системе продавцов</a></li>
                    <li ><a href="#" onclick="history.go(-1);return true;">Назад</a></li>
                </ul>
            </div>
        </div>

        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>