
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/allworld" class="breadcrumb__uri">Все, что вам нужно — на одном сайте!</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-primary">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Онлайн – гипермаркет QWERAS сотрудничает с продавцами абсолютно всех категорий товаров.
                </h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img src="img/allworld/qs1.jpg" class="img-responsive">
            </div>
        </div>

        <div class="clearfix"><br></div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Наша задача – предоставить вам возможность найти на наших страницах все, что вам необходимо в повседневной жизни.

                </h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img src="img/allworld/qs2.jpg" class="img-responsive">
            </div>
        </div>

        <div class="clearfix"><br></div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Вам удобно покупать на нашем сайте  все, что вам нужно, по следующим причинам:
                </h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter text-center">
                <img src="img/allworld/qs3.jpg" style="height: 420px;" class="img-responsive">
            </div>
        </div>

        <div class="clearfix"><br></div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Единожды зарегистрировавшись, вы получаете доступ ко всем необходимым вам товарам. Не надо каждый раз заново регистрироваться, хранить пароли и адаптироваться к новому сайту.

                </h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img src="img/allworld/qs4.jpg" class="img-responsive">
            </div>
        </div>

        <div class="clearfix"><br></div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Каждый товар в нашей системе имеет только одну уникальную страницу. Предложения продавцов, которые продают этот товар, размещены рядом друг с другом, и вам удобно делать выбор

                </h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img src="img/allworld/qs5.jpg" class="img-responsive">
            </div>
        </div>

        <div class="clearfix"><br></div>


        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Каждая ваша покупка участвует в четырех бонусных программах, и чем больше вы покупаете, тем больше ваши бонусы

                </h3>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img src="img/allworld/qs6.jpg" class="img-responsive">
            </div>
        </div>

        <div class="clearfix"><br></div>





        <div class="clearfix"><br></div>



        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>