
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/appeal-to-businesses" class="breadcrumb__uri">Обращение к предпринимателям</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">


        <p>
            <strong>Уважаемые предприниматели!</strong></p>
        <p>
            Предлагаем Вашему вниманию онлайн &ndash; гипермаркет QWERAS.&nbsp; Предлагаем Вам присоединиться к нашему проекту в качестве партнеров &ndash; продавцов собственных товаров и услуг.</p>
        <p>
            Работая с нами, вы получаете:</p>
        <p>
            1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Дополнительный (а в будущем, возможно, основной) канал&nbsp; сбыта.</p>
        <p>
            2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Централизованное продвижение Вас и вашего товара за счет продвижения гипермаркета в целом. Портал представляет собой коллектив розничных продавцов, которые объединились для совместного продвижения. За счет этого объединения коллектив продавцов составит достойную конкуренцию крупным торговым сетям и привлечет к себе их клиентов.</p>
        <p>
            3.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Все возможности и полноценный функционал собственного сайта. Вам не надо будет содержать отдельный собственный сайт, платить зарплату специализированному персоналу за его эксплуатацию и нести затраты на рекламу в интернете.&nbsp; На страницах нашего портала будет размещен полноценный аналог вашего собственного сайта.</p>
        <p>
            4.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Возможность использовать официальные страницы товара, информация для которых предоставлена Ассоциацией Юнискан/ГС1 РУС, официальным партнером которой мы являемся, и которая в планетарном масштабе присваивает штрих-коды товарам. Большинство производителей и импортеров являются членами Ассоциации, и при получении штрих-кода размещают описания и характеристики своих товаров в специальной системе GS46. Наш сайт является официальным представителем глобальной базы данных GS46 в сети Интернет.</p>
        <p>
            5.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Широчайшую покупательскую аудиторию, привлеченную разнообразными уникальными бонусными программами, простой и удобной системой работы с порталом. При желании покупатели могут не только получить гигантские скидки, но и даже заработать, покупая как можно чаще и на большие суммы.</p>
        <p>
            6.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Возможность активного поиска покупателя. Вы не только ждете совершения заказа покупателем, но и можете откликнуться на размещенные покупателями заявки, относящиеся к конкретным товарам из нашей базы данных.</p>
        <p>
            <strong>Общая схема сотрудничества.</strong></p>
        <p>
            Вы размещаете на портале свои товарные предложения, и этот процесс максимально упрощен.</p>
        <p>
            Мы предоставляем Вам для сотрудничества партнерские службы доставки. Вы можете также использовать собственные возможности по доставке товаров до покупателя.</p>
        <p>
            Вы с помощью портала принимаете заказы, общаетесь с клиентом, формируете заказ и передаете его курьерской службе.&nbsp;</p>
        <p>
            Далее &ndash; только контроль поступления Ваших денег.</p>
        <p>
            Наш лозунг <strong><em>&laquo;Нет расхода без дохода!&raquo;</em></strong>.</p>
        <p>
            Работая с нами, единственный ваш расход &ndash; комиссия с совершенной сделки.&nbsp; В отличие от других способов продвижения, где вы вкладываете деньги в рекламу без четкого понимания эффективности таких вложений, у нас вы четко знаете соотношение доходов и затрат. К тому же у нас отсутствует абонентская плата и иные расходы за каждую мелкую услугу, так горячо любимые другими порталами &ndash; агрегаторами.&nbsp;</p>
        <p>
            Ждем Вас в рядах наших партнеров!</p>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>



        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>