
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/contact" class="breadcrumb__uri">Контакты</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">

        <h2>Контакты</h2>

        <p>cooperation@qweras.ru - предложения по сотрудничеству</p>
        <p>support@qweras.ru - вопросы технической поддержки</p>
        <p>complaint@qweras.ru - жалобы и претензии</p>

        <p>Просим свои обращения отправлять в соответствии с указанными предназначениями почтовых ящиков. При несоответствии темы обращения типу почтового ящика оставляем за собой право (поймите нас правильно) оставить ваше обращение без ответа</p>

        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>