
 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/delivery" class="breadcrumb__uri">Доставка</a></li>
    </ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-primary">

        <h2 class="text-center">Уважаемые покупатели!</h2>

        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Товары, купленные в нашем магазине, могут быть доставлены вам следующими видами доставки:
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/delivery/qs1.jpg">
            </div>
        </div>

        <div class="clearfix"><br></div>
        <h3>- быстрая доставка, осуществляется в течение нескольких часов с момента подтверждения заказа. </h3>
        <h3>– доставка на следующий день или через день в согласованный с продавцом диапазон времени.</h3>
        <h3>– самовывоз из места расположения продавца.</h3>
        <h3>– самовывоз из пункта выдачи, расположенного в удобном для вас месте не ранее технологически возможного времени.</h3>
        <h3>– доставка почтовым отправлением, посылкой или специализирующейся на междугородней доставке компанией. Применяется в случае, если продавец находится в ином для вас регионе.</h3>

        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Для осуществления доставки Продавцы привлекают специализированные компании, либо осуществляют ее собственными силами. Конкретные условия доставки по каждому из указанных способов вам необходимо обсудить с продавцом, у которого вы совершаете заказ. Кроме того, продавцы определяют и стоимость доставки, что также подлежит обсуждению с ними.
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/delivery/qs2.jpg">
            </div>
        </div>

        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>