
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/delivery-options" class="breadcrumb__uri">Возможности доставки</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">

        <p>
            <strong>Уважаемые предприниматели!</strong></p>
        <p>
            Мы учли необходимость доставлять ваш товар покупателям, и если у вас нет собственных возможностей по доставке, предлагаем вам воспользоваться услугами транспортных компаний &ndash; партнеров. Вот их перечень:</p>
        <p>
            TopDelivery</p>

        <p>
            Вы можете сотрудничать с любой из них, или со всеми одновременно, поскольку у всех них немного разные условия и технологии работы.</p>
        <p>
            Будем чрезвычайно вам признательны за отзывы о качестве работы каждой компании.</p>

        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>