 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/goodsyourprice" class="breadcrumb__uri">Товар по вашей цене</a></li>
    </ol>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-primary">


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>На нашем сайте вы можете предложить продавцам свою цену выбранного товара
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/goodsyourprice/qs1.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>У продавцов имеется масса причин согласиться на ваши условия
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/goodsyourprice/qs2.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Вам нужно найти искомый товар, разместить заявку, и приготовиться ждать отклики продавцов. Они имеют право отозваться по цене не выше вашей, а возможно, и ниже. </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/goodsyourprice/qs3.png">
            </div>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Вам останется только выбрать продавца из отозвавшихся на вашу заявку и разместить у него заказ
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/goodsyourprice/qs4.png">
                <img class="img-responsive" src="img/goodsyourprice/qs5.png">
                <img class="img-responsive" src="img/goodsyourprice/qs6.png">
            </div>

        </div>


        <div class="clearfix"><br><br></div>


        <div class="col-xs-10">

         </div>
         <div class="col-xs-2">
       <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
       </div>

</div>