 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/goodsyourprice" class="breadcrumb__uri">Товар по вашей цене</a></li>
        <li><a href="#page/howtobuy-details" class="breadcrumb__uri">Подробно</a></li>
    </ol>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">
        <p>
            <strong>Уважаемые покупатели!</strong></p>
        <p>
            &nbsp;</p>
        <p>
            Выбрав необходимый вам товар, вы формируете Заявку, указываете срок ее действия и цену, по которой желаете приобрести товар. Ваша заявка становится видна продавцам, которые будут конкурировать между собой за ее исполнение.</p>
        <p>
            &nbsp;</p>
        <p>
            Далее вы получаете предложения от продавцов, которые согласны продать вам товар по вашей цене или дешевле. Эти предложения активны либо до окончания срока действия вашей заявки, либо пока продавец не отзовет свое предложение.</p>
        <p>
            &nbsp;</p>
        <p>
            Для того, чтобы согласиться на предложение, вам всего лишь необходимо нажать кнопку &laquo;Заказать&raquo; напротив предложения продавца. Далее сделка оформляется обычным способом.</p>
        <p>
            &nbsp;</p>
        <p>
            Произведенные таким способом покупки участвуют во всех бонусных программах.</p>


        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>