<div class="product__section__row product__section__row--breadcrumbs">
    <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/howtobuy" class="breadcrumb__uri">Как совершить покупку</a></li>
    </ol>
</div>
<div class="row">
<div class="col-xs-2"></div>
    <div class="col-xs-8 text-primary">

<div class="row">
        <h2 class="text-center">Уважаемые покупатели!</h2>

        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
<h3>Для того, чтобы покупать товары в нашем онлайн – гипермаркете, вы последовательно совершаете следующие действия.

</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
            <img class="img-responsive" src="img/howtobuy/qs1.jpg">
        </div>
</div>

        <div class="clearfix"><br><br></div>

        <div class="row">
            <h2 class="text-center">Регистрация
            </h2>
            <div class="clearfix"><br><br></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Регистрация может быть краткая и полная. Покупатели, прошедшие процедуру краткой регистрации, обладают полноценными возможностями работы с системой, за исключением возможности использования бонусных баллов Кверов. Пройдя процедуру полной регистрации, вы получаете возможность вывести денежный эквивалент Кверов на свой банковский счет.</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs2.png"><br>
                <img class="img-responsive" src="img/howtobuy/qs3.png">
            </div>
        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Краткая регистрация предполагает указание покупателем имени, фамилии, адреса электронной почты, телефона, пароля на вход в личный кабинет, кода реферера , и подтверждение  ознакомления с Пользовательским соглашением.

                </h3>
                <h3>Код реферера – код другого покупателя, который пригласил вас на сайт. Если вы пришли на сайт по ссылке с другого сайта, то код подставляется автоматически, если ваш пригласил знакомый, то нужно указать тот код, который он вам сообщит

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs4.png">
            </div>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">


            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter">
                <h3>Полная регистрация необходима, если вы хотите получать денежные средства по бонусным программам на вашу пластиковую карту. Такая регистрация потребует предоставления вами паспортных данных и скана паспорта, поскольку для выдачи вам денежных призов мы обязаны уплатить за вас налог на доходы физических лиц.</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs5.png">
            </div>
        </div>

        <div class="clearfix"><br></div>

        <div class="row">
            <h2 class="text-center">Поиск товара</h2>
            <div class="clearfix"><br><br></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>После регистрации вам нужно найти товар в системе. Подробно о методиках поиска товаров см. раздел «Подвала» сайта: «<a href="#page/howtosearch">Как искать товар</a>»</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs6.jpg"><br>
            </div>
        </div>
        <div class="clearfix"><br></div>
        <div class="row">
            <h2 class="text-center">Заказ товара и совершение сделки</h2>
            <div class="clearfix"><br><br></div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>После того, как вы нашли страницу нужного товара, вам необходимо определиться, у какого из продавцов совершить покупку. Онлайн – гипермаркет Qweras не владеет товаром и не продает его от своего имени, он только предоставляет возможность продавцам – отдельным юридическим лицам использовать свои страницы для продажи. Безусловно, мы осуществляем жесткий отбор продавцов, контролируем качество обслуживания клиентов и стараемся сделать все возможное, чтобы вы остались довольны. Тем не менее, при выборе продавца обращайте внимание не только на цену товара, но и на остальную информацию о продавце, особенно на его рейтинг.
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs7.jpg"><br>
            </div>
        </div>

        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>В процессе выбора товара вы можете помещать его в корзину. Пока он в корзине – он не считается заказанным, вы еще не подошли к своеобразной «виртуальной кассе» и не начали оформлять сделку. Ее оформление начинается после того, как вы нажали кнопку «Оформить». После нажатия кнопки «Оформить» продавец должен связаться с вами по телефону в течение 30 минут и согласовать детали сделки. За просрочку этого времени у продавца понижается рейтинг, поэтому постарайтесь, чтобы ваш телефон был свободен.
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs8.png"><br>
                <img class="img-responsive" src="img/howtobuy/qs9.png"><br>
            </div>
        </div>

        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>После того, как продавец с вами пообщался, он начинает обработку заказа.
                    Этапы обработки заказа вы в любое время можете контролировать в вашем личном кабинете на вкладке «Заказы».
                    Возможные статусы заказа следующие:

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs10.jpg">
            </div>
        </div>


        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter">
                <h3>«Заказан». Вам еще не позвонил продавец и не согласовал условия сделки. <br>
                    «В работе». Продавец принял заказ в работу, но еще не подтвердил возможность исполнения заказа. <br>
                    «Подтвержден». Продавец подтвердил возможность исполнения заказа и начал его исполнение. <br>
                    «В пути». Товар отгружен и следует к вам. <br>
                    «Доставлен». Товар вам доставлен, процесс выполнения заказа окончен.
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs11.png">
            </div>
        </div>


        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6 vcenter">
                <h3>Относитесь максимально ответственно к отказу от сделки после подтверждения заказа и согласования его условий. За это у продавца понижается рейтинг.
                    И еще – помните! Если вы отказались от сделки – вы потеряли свою позицию в бонусных программах и можете не получить той суммы бонуса, которую заслуживаете!



                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs12.jpg">
            </div>
        </div>


        <div class="clearfix"><br></div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Оплату товара можете произвести при доставке товара курьеру наличными. Если вы хотите обменять или вернуть товар – этот вопрос вам надо будет решать непосредственно с магазином. Если в этом вопросе возникают проблемы – информируйте нас, мы поможем!

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/howtobuy/qs13.jpg">
            </div>
        </div>



        <div class="clearfix"><br><br></div>
       
        <div class="col-xs-10">
         </div>
         <div class="col-xs-2">
       <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
       </div>

    </div>
</div>
</div>