 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/howtobuy" class="breadcrumb__uri">Как совершить покупку</a></li>
        <li><a href="#page/howtobuy-details" class="breadcrumb__uri">Подробно</a></li>
    </ol>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">

        <p>
            <strong>Уважаемые покупатели!</strong></p>
        <p>
            &nbsp;</p>
        <p>
            Для того, чтобы покупать товары в нашем онлайн &ndash; гипермаркете, вы последовательно совершаете следующие действия.</p>
        <p>
            &nbsp;</p>
        <p>
            <strong>Регистрация</strong></p>
        <p>
            Регистрация может быть краткая и полная. Покупатели, прошедшие процедуру краткой регистрации, обладают полноценными возможностями работы с системой, за исключением возможности использования бонусных баллов Кверов. Пройдя процедуру полной регистрации, вы получаете возможность вывести денежный эквивалент Кверов на свой банковский счет или зачесть его в счет оплаты очередной покупки.</p>
        <p>
            &nbsp;</p>
        <p>
            Краткая регистрация предполагает указание покупателем логина, телефона, адреса электронной почты. Полная регистрация потребует предоставления вами паспортных данных и скана паспорта, поскольку для выдачи вам денежных призов мы обязаны уплатить за вас налог на доходы физических лиц.</p>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <p>
            <strong>Поиск товара</strong></p>
        <p>
            После того, как вы зарегистрировались, вы можете начать процедуру покупки. Но сначала вам нужно найти товар.</p>
        <p>
            &nbsp;</p>
        <p>
            Для поиска интересующего вас товара вы можете воспользоваться следующими способами:</p>
        <p>
            &nbsp;</p>
        <ol>
            <li>
                Поиск по каталогу. Последовательно нажимаете товарные группы каталога в левой части экрана, на каждом этапе открывая и отображая на экран вложенные друг в друга группы товаров и их содержимое, пока не найдете искомый товар.</li>
        </ol>
        <p style="margin-left:36pt;">
            &nbsp;</p>
        <ol>
            <li value="2">
                Поиск по текстовой строке. Наберите искомый текст, характеризующий товар, в центральной верхней части экрана. Если в поисковой выдаче слишком много позиций, введите уточняющую фразу, проставив флажок &laquo;искать в найденном&raquo;. Последовательно применяйте этот метод до тех пор, пока не найдете искомый товар.</li>
        </ol>
        <p style="margin-left:36pt;">
            &nbsp;</p>
        <ol>
            <li value="3">
                Комбинированный метод. Первоначально производите поиск по текстовой строке. По его результатам в левой части экрана отобразятся товарные группы каталога, где присутствуют товары, соответствующие поисковой строке. Нажав на определенную товарную группу, вы сужаете количество товаров в поисковой выдаче. Далее чередуя поиск по каталогу с поиском в текстовой строке, получаете искомый товар.</li>
        </ol>
        <p>
            &nbsp;</p>
        <p>
            <strong>Совершение заказа</strong></p>
        <p>
            После того, как вы нашли страницу нужного товара, вам необходимо определиться, у какого из продавцов совершить покупку. Онлайн &ndash; гипермаркет Qweras не владеет товаром и не продает его от своего имени, он только предоставляет возможность продавцам &ndash; отдельным юридическим лицам использовать свои страницы для продажи. Безусловно, мы осуществляем жесткий отбор продавцов, контролируем качество обслуживания клиентов и стараемся сделать все возможное, чтобы вы остались довольны. Тем не менее, при выборе продавца обращайте внимание не только на цену товара, но и на остальную информацию о продавце, особенно на его рейтинг.</p>
        <p>
            &nbsp;</p>
        <p>
            В процессе выбора товара вы можете помещать его в корзину. Пока он в корзине &ndash; он не считается заказанным, вы еще не подошли к своеобразной &laquo;виртуальной кассе&raquo; и не начали оформлять сделку. Ее оформление начинается после того, как вы нажали кнопку &laquo;Заказать&raquo;. После нажатия кнопки &laquo;Заказать&raquo; продавец должен связаться с вами по телефону в течение 30 минут и согласовать детали сделки. За просрочку этого времени у продавца понижается рейтинг, поэтому постарайтесь, чтобы ваш телефон был свободен.</p>
        <p>
            &nbsp;</p>
        <p>
            После того, как продавец с вами пообщался, он начинает обработку заказа. Этапы обработки заказа вы в любое время можете контролировать в вашем личном кабинете на вкладке &laquo;Заказы&raquo;. Возможные статусы заказа следующие:</p>
        <p style="margin-left:36pt;">
            &nbsp;</p>
        <ol>
            <li>
                &laquo;Заказан&raquo;. Вам еще не позвонил продавец и не согласовал условия сделки.</li>
        </ol>
        <p style="margin-left:36pt;">
            &nbsp;</p>
        <ol>
            <li value="2">
                &laquo;В работе&raquo;. Продавец принял заказ в работу, но еще не подтвердил возможность исполнения заказа.</li>
        </ol>
        <p style="margin-left:36pt;">
            &nbsp;</p>
        <ol>
            <li value="3">
                &laquo;Подтвержден&raquo;. Продавец подтвердил возможность исполнения заказа и начал его исполнение.</li>
        </ol>
        <p style="margin-left:36pt;">
            &nbsp;</p>
        <ol>
            <li value="4">
                &laquo;В пути&raquo;. Товар отгружен и следует к вам.</li>
        </ol>
        <p style="margin-left:36pt;">
            &nbsp;</p>
        <ol>
            <li value="5">
                &laquo;Доставлен&raquo;. Товар вам доставлен, процесс выполнения заказа окончен.</li>
        </ol>
        <p>
            На любом этапе выполнения заказа вы можете отказаться, поменяв его статус в личном кабинете на &laquo;Отменен&raquo; (отказ произошел на этапах &laquo;Заказан&raquo;, &laquo;В работе&raquo; ) или &laquo;Отвергнут&raquo; (на более поздних этапах). За статус &laquo;Отвергнут&raquo; у продавца понижается рейтинг, поэтому по возможности относитесь максимально ответственно к возможности отказа от сделки после подтверждения заказа и согласования его условий. И еще &ndash; помните! Если вы отказались от сделки &ndash; вы потеряли свою позицию в бонусных программах и можете не получить той суммы бонуса, которую заслуживаете!</p>
        <p>
            &nbsp;</p>
        <p>
            Оплату товара можете произвести при доставке товара курьеру наличными. Если вы хотите обменять или вернуть товар &ndash; этот вопрос вам надо будет решать непосредственно с магазином. Если в этом вопросе возникают проблемы &ndash; информируйте нас, мы поможем!</p>


        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>