
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/jobs" class="breadcrumb__uri">Вакансии</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">


        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>