 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/makeapurchase" class="breadcrumb__uri">Как заработать на покупках</a></li>
        <li><a href="#page/makeapurchase-general" class="breadcrumb__uri">Подробно</a></li>
    </ol>
    
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">

        <h2 id="progGen">
            Принципы расчета бонусных программ</h2>
        <p>
            Из суммарных показателей покупок, совершенных покупателями в онлайн &ndash; гипермаркете QWERAS, формируется список, где покупатели, чей показатель покупок больше, занимает более высокое место, чем покупатель, чей показатель покупок меньше. Такой список называется ранжированным по убыванию показателя покупок. Каждому покупателю из списка по определенной математической формуле присваивается доля совокупного фонда бонусной программы. Математически это выглядит следующим образом:</p>
        <p>
            Доля каждого покупателя в соответствии с номером в списке рассчитывается следующим образом:</p>
        <p>
            Д = К (1-К)<sup>n</sup><sup>-1</sup></p>
        <p>
            Где</p>
        <p>
            Д &ndash; доля покупателя в совокупном фонде бонусной программы</p>
        <p>
            К &ndash; коэффициент, подобранный в зависимости от общего количества участников бонусной программы</p>
        <p>
            n &ndash; порядковый номер покупателя в списке</p>
        <p>
            У вышестоящего в списке покупателя доля совокупного фонда бонусной программы всегда выше, чем у нижестоящего покупателя, и убывание этой доли по мере понижения места покупателя в списке происходит обратно экспоненциально.</p>
        <p>
            &nbsp;</p>
        <p>
            <img alt="bonus programm" border="0" height="292" src="img/image_bonusProgramm.png" width="487" /></p>
        <p>
            &nbsp;</p>
        <p>
            На графике показана зависимость процента призового фонда (ось У) от занимаемого места покупателя в списке (ось Х).</p>
        <p>
            Каждая бонусная программа имеет период активности и период подведения итогов.</p>
        <p>
            В течение периода активности ранжированный список покупателей непрерывно изменяется с каждой новой заказанной покупкой, совершенной в онлайн &ndash; гипермаркете QWERAS, поскольку ее показатели изменяют соотношение показателей покупок программы. Информация о текущем состоянии программы интерактивно демонстрируется в соответствующих зонах онлайн &ndash; гипермаркета QWERAS.</p>
        <p>
            &nbsp; В период подведения итогов расстановка позиций покупателей не изменяется, в соответствующих зонах онлайн &ndash; гипермаркета QWERAS демонстрируется текущее состояние выполнения заказанных в период активности покупок (получение ими статуса &laquo;Доставлен&raquo;). По окончании периода подведения итогов позиции покупателей в списке однократно изменяются в соответствии со следующим:</p>
        <p style="margin-left:71.45pt;">
            &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Все покупки, которые не получили статуса &laquo;Доставлен&raquo;, исключаются из рассмотрения при пересчете позиций покупателей в списке</p>
        <p style="margin-left:71.45pt;">
            &middot;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Все покупки, которые не получили статуса &laquo;Доставлен&raquo;, но не получили статуса &laquo;Отменен&raquo; или &laquo;Отвергнут&raquo;, принимают участие в той бонусной программе, в течение которой они получат статус &laquo;Доставлен&raquo;</p>
        <p>
            Окончательное распределение бонусов и начисление их на внутрисистемный бонусный счет покупателей происходит по результатам однократного перерасчета по окончании периода подведения итогов. &nbsp;&nbsp;&nbsp;</p>
        <p>
            Все суммы бонусов, которые накапливаются покупателями за разные дни, по распоряжению из личного кабинета покупателя либо перечисляются на его реквизиты, указанные при регистрации, за вычетом НДФЛ, либо полностью без вычетов идут на оплату стоимости очередной покупки.</p>
        <p>
            &nbsp;</p>

       <div class="col-xs-10"></div>
         <div class="col-xs-2">
       <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
       </div>

    </div>
</div>