<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/makeapurchase-lp" class="breadcrumb__uri">Как заработать на покупках</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-primary">


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Каждый покупатель на нашем сайте участвует в четырех бонусных программах

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/makeapurchase/qs1.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">

            <h2>1. Программа «Больше потратил в течение дня»</h2>
            <h2>2. Программа «Чаще покупал в течение дня»</h2>
            <h2>3. Программа «Больше потратил в течение месяца»</h2>
            <h2>4. Программа «Чаще покупал в течение месяца»</h2>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Первые две программы применяются к покупкам в течение календарного дня, остальные – к покупкам в течение календарного месяца

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/makeapurchase/qs2.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Первая и третья программы бонусируют показатель суммы потраченных на покупки денег, вторая и четвертая – показатель количества купленных уникальных товарных позиций

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/makeapurchase/qs3.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Бонусный фонд каждой программы формируется из отчислений с каждой сделки, т.е каждая ваша покупка участвует одновременно во всех четырех программах

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/makeapurchase/qs4.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Для розыгрыша бонуса по каждой программе формируется список покупателей, которые за период программы совершали покупки. Список выстроен по убыванию бонусируемого показателя каждого покупателя

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/makeapurchase/qs5.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Бонусный фонд программы распределяется экспоненциально от первых позиций списка к последним

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/makeapurchase/qs6.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Полученные по бонусным программам денежные средства за вычетом налога на доходы физических лиц вы можете вывести на банковские реквизиты или пластиковую карту

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/makeapurchase/qs7.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Покупайте на нашем сайте больше, чаще и разнообразней, и у вас появится возможность получить огромные суммы бонуса!

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/makeapurchase/qs8.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>



        <div class="col-xs-10">
            <a class="btn btn-primary" href="#page/makeapurchase">Подробнее</a>
        </div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>
