 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/makeapurchase" class="breadcrumb__uri">Как заработать на покупках</a></li>
        <li><a href="#page/makeapurchase-site2" class="breadcrumb__uri">Подробно</a></li>
    </ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">

        <h2 id="prog2">
            Программа 2. &laquo;Чаще покупал за день&raquo;</h2>
        <p>
            &nbsp;</p>
        <p>
            Период активности бонусной программы &ndash; сутки. В течение этого периода QWERAS накапливает количество заказанных уникальных товаров в разрезе покупателей. При этом учитываются только те покупки, которые не получили статус &laquo;Отменен&raquo;. По окончании этих суток список покупателей, которые совершили заказ покупок, ранжируется от большего количества заказанных уникальных товаров к меньшему количеству. В результате получается следующая последовательность (пример условный, цифры приводятся только для объяснения принципа работы бонусной программы):</p>
        <table border="0" cellpadding="0" style="width:100.0%;" width="100%">
            <tbody>
            <tr>
                <td>
                    <p>
                        <strong>Место</strong></p>
                </td>
                <td>
                    <p>
                        <strong>Покупатель</strong></p>
                </td>
                <td>
                    <p>
                        <strong>Количество уникальных товаров в покупках, шт.</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        1</p>
                </td>
                <td>
                    <p>
                        Покупатель 1</p>
                </td>
                <td>
                    <p align="center">
                        15</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        2</p>
                </td>
                <td>
                    <p>
                        Покупатель 2</p>
                </td>
                <td>
                    <p align="center">
                        12</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        3</p>
                </td>
                <td>
                    <p>
                        Покупатель 3</p>
                </td>
                <td>
                    <p align="center">
                        11</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        4</p>
                </td>
                <td>
                    <p>
                        Покупатель 4</p>
                </td>
                <td>
                    <p align="center">
                        9</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        5</p>
                </td>
                <td>
                    <p>
                        Покупатель 5</p>
                </td>
                <td>
                    <p align="center">
                        8</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        6</p>
                </td>
                <td>
                    <p>
                        Покупатель 6</p>
                </td>
                <td>
                    <p align="center">
                        7</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        &hellip;&hellip;</p>
                </td>
                <td>
                    <p>
                        &hellip;&hellip;&hellip;.</p>
                </td>
                <td>
                    <p align="center">
                        &hellip;&hellip;&hellip;..</p>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            &nbsp;</p>
        <p>
            Если количество уникальных товаров одинаковое, то более высокое место получает покупатель, который совершил заказ первой покупки раньше.</p>
        <p>
            Бонусный фонд программы распределяется в соответствии с описанием в разделе &laquo;Принципы расчета бонусных программ&raquo;. Пример условный, цифры приводятся только для объяснения принципа работы бонусной программы.</p>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <table border="0" cellpadding="0" style="width:100.0%;" width="100%">
            <tbody>
            <tr>
                <td>
                    <p>
                        <strong>Место</strong></p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        <strong>Покупатель</strong></p>
                </td>
                <td style="width:36.16%;">
                    <p align="center">
                        <strong>Количество уникальных товаров в покупках, шт.</strong></p>
                </td>
                <td>
                    <p align="center">
                        <strong>Процент в бонусном фонде</strong></p>
                </td>
                <td>
                    <p align="center">
                        <strong>Сумма бонуса, руб.</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        1</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 1</p>
                </td>
                <td style="width:36.16%;">
                    <p align="center">
                        15</p>
                </td>
                <td>
                    <p align="center">
                        10,37%</p>
                </td>
                <td>
                    <p align="center">
                        1000,03</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        2</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 2</p>
                </td>
                <td style="width:36.16%;">
                    <p align="center">
                        12</p>
                </td>
                <td>
                    <p align="center">
                        9,29%</p>
                </td>
                <td>
                    <p align="center">
                        900,02</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        3</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 3</p>
                </td>
                <td style="width:36.16%;">
                    <p align="center">
                        11</p>
                </td>
                <td>
                    <p align="center">
                        8,33%</p>
                </td>
                <td>
                    <p align="center">
                        810,02</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        4</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 4</p>
                </td>
                <td style="width:36.16%;">
                    <p align="center">
                        9</p>
                </td>
                <td>
                    <p align="center">
                        7,46%</p>
                </td>
                <td>
                    <p align="center">
                        729,02</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        5</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 5</p>
                </td>
                <td style="width:36.16%;">
                    <p align="center">
                        8</p>
                </td>
                <td>
                    <p align="center">
                        6,69%</p>
                </td>
                <td>
                    <p align="center">
                        656,12</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        6</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 6</p>
                </td>
                <td style="width:36.16%;">
                    <p align="center">
                        7</p>
                </td>
                <td>
                    <p align="center">
                        6,00%</p>
                </td>
                <td>
                    <p align="center">
                        590,51</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        &hellip;&hellip;</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        &hellip;&hellip;&hellip;.</p>
                </td>
                <td style="width:36.16%;">
                    <p align="center">
                        &hellip;&hellip;&hellip;..</p>
                </td>
                <td>
                    <p align="center">
                        &hellip;&hellip;&hellip;..</p>
                </td>
                <td>
                    <p align="center">
                        &hellip;&hellip;&hellip;..</p>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>

        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>