 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/makeapurchase" class="breadcrumb__uri">Как заработать на покупках</a></li>
        <li><a href="#page/makeapurchase-site4" class="breadcrumb__uri">Подробно</a></li>
    </ol>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">
        <h2 id="prog4">
            Программа 4. &laquo;Чаще покупал за месяц&raquo;</h2>
        <p>
            &nbsp;</p>
        <p>
            Период активности бонусной программы &ndash; месяц. В течение этого периода QWERAS накапливает количество заказанных уникальных товаров в разрезе покупателей. При этом учитываются только те покупки, которые не получили статус &laquo;Отменен&raquo;. По окончании этого месяца список покупателей, которые совершили заказ покупок, ранжируется от большего количества заказанных уникальных товаров к меньшему количеству. В результате получается следующая последовательность (пример условный, цифры приводятся только для объяснения принципа работы бонусной программы):</p>
        <table border="0" cellpadding="0" style="width:100.0%;" width="100%">
            <tbody>
            <tr>
                <td>
                    <p>
                        <strong>Место</strong></p>
                </td>
                <td style="width:18.96%;">
                    <p>
                        <strong>Покупатель</strong></p>
                </td>
                <td style="width:71.1%;">
                    <p align="center">
                        <strong>Количество заказанных в течение месяца уникальных товаров, шт.</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        1</p>
                </td>
                <td style="width:18.96%;">
                    <p>
                        Покупатель 1</p>
                </td>
                <td style="width:71.1%;">
                    <p align="center">
                        272</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        2</p>
                </td>
                <td style="width:18.96%;">
                    <p>
                        Покупатель 2</p>
                </td>
                <td style="width:71.1%;">
                    <p align="center">
                        212</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        3</p>
                </td>
                <td style="width:18.96%;">
                    <p>
                        Покупатель 3</p>
                </td>
                <td style="width:71.1%;">
                    <p align="center">
                        197</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        4</p>
                </td>
                <td style="width:18.96%;">
                    <p>
                        Покупатель 4</p>
                </td>
                <td style="width:71.1%;">
                    <p align="center">
                        180</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        5</p>
                </td>
                <td style="width:18.96%;">
                    <p>
                        Покупатель 5</p>
                </td>
                <td style="width:71.1%;">
                    <p align="center">
                        164</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        6</p>
                </td>
                <td style="width:18.96%;">
                    <p>
                        Покупатель 6</p>
                </td>
                <td style="width:71.1%;">
                    <p align="center">
                        137</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        &hellip;&hellip;</p>
                </td>
                <td style="width:18.96%;">
                    <p>
                        &hellip;&hellip;&hellip;.</p>
                </td>
                <td style="width:71.1%;">
                    <p align="center">
                        &hellip;&hellip;&hellip;..</p>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            &nbsp;</p>
        <p>
            Если количество заказанных уникальных товаров одинаковое, то более высокое место получает покупатель, который совершил первую покупку раньше.</p>
        <p>
            Бонусный фонд программы распределяется в соответствии с описанием в разделе &laquo;Принципы расчета бонусных программ&raquo;. Пример условный, цифры приводятся только для объяснения принципа работы бонусной программы.</p>
        <p>
            &nbsp;</p>
        <table border="0" cellpadding="0" style="width:100.0%;" width="100%">
            <tbody>
            <tr>
                <td>
                    <p>
                        <strong>Место</strong></p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        <strong>Покупатель</strong></p>
                </td>
                <td style="width:39.18%;">
                    <p align="center">
                        <strong>Количество заказанных в течение месяца уникальных товаров, шт.</strong></p>
                </td>
                <td>
                    <p align="center">
                        <strong>Процент в бонусном фонде</strong></p>
                </td>
                <td>
                    <p align="center">
                        <strong>Сумма бонуса, руб.</strong></p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        1</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 1</p>
                </td>
                <td style="width:39.18%;">
                    <p align="center">
                        272</p>
                </td>
                <td>
                    <p align="center">
                        10,37%</p>
                </td>
                <td>
                    <p align="center">
                        16000</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        2</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 2</p>
                </td>
                <td style="width:39.18%;">
                    <p align="center">
                        212</p>
                </td>
                <td>
                    <p align="center">
                        9,29%</p>
                </td>
                <td>
                    <p align="center">
                        14400</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        3</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 3</p>
                </td>
                <td style="width:39.18%;">
                    <p align="center">
                        197</p>
                </td>
                <td>
                    <p align="center">
                        8,33%</p>
                </td>
                <td>
                    <p align="center">
                        12960</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        4</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 4</p>
                </td>
                <td style="width:39.18%;">
                    <p align="center">
                        180</p>
                </td>
                <td>
                    <p align="center">
                        7,46%</p>
                </td>
                <td>
                    <p align="center">
                        11664</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        5</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 5</p>
                </td>
                <td style="width:39.18%;">
                    <p align="center">
                        164</p>
                </td>
                <td>
                    <p align="center">
                        6,69%</p>
                </td>
                <td>
                    <p align="center">
                        10498</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        6</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        Покупатель 6</p>
                </td>
                <td style="width:39.18%;">
                    <p align="center">
                        137</p>
                </td>
                <td>
                    <p align="center">
                        6,00%</p>
                </td>
                <td>
                    <p align="center">
                        9448</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>
                        &hellip;&hellip;</p>
                </td>
                <td style="width:16.2%;">
                    <p>
                        &hellip;&hellip;&hellip;.</p>
                </td>
                <td style="width:39.18%;">
                    <p align="center">
                        &hellip;&hellip;&hellip;..</p>
                </td>
                <td>
                    <p align="center">
                        &hellip;&hellip;&hellip;..</p>
                </td>
                <td>
                    <p align="center">
                        &hellip;&hellip;&hellip;..</p>
                </td>
            </tr>
            </tbody>
        </table>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>