 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/referralprogram" class="breadcrumb__uri">Реферальная программа</a></li>
        <li><a href="#page/referralprogram-details" class="breadcrumb__uri">Подробно</a></li>
    </ol>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">
        <strong><p> Дорогие друзья!</p></strong>
        <p>
            Вы регистрируетесь в системе в качестве покупателя. Каждый новый покупатель, который при регистрации указал ваш логин в поле &laquo;реферал&raquo;, становится вашим рефералом первого уровня, а вы его реферером. С каждой его покупки вы начинаете получать на свой бонусный счет определенный процент (шкала бонусных процентов см. &laquo;Правила бонусных программ&raquo;, раздел &laquo;Реферальная программа&raquo;). Для простоты дальнейшего изложения предположим, что этот процент составляет 1% (указанный процент и следующие ниже проценты приведены только для примера и не являются нормативными).</p>
        <p>
            Если логин вашего реферала первого уровня указал при регистрации другой новый покупатель, то он становится вашим рефералом второго уровня, и с покупок этого покупателя вы будете получать 0,5% на свой бонусный счет.</p>
        <p>
            Если логин реферала второго уровня указан другим новым покупателем, то для вас этот покупатель - реферал третьего уровня, и со всех его покупок вы будете получать 0,25%.</p>
        <p>
            И так далее, каждый следующий уровень рефералов приносит вам в два раза меньший процент, чем предыдущий, но количество покупателей этого уровня может быть во много раз больше, чем на предыдущем уровне.</p>
        <p>
            Заманчиво, правда? Реферальная сеть будет приносить вам постоянный доход абсолютно без каких-либо усилий с вашей стороны!</p>
        <p>
            <a href="#page/refferal-bonus">Подробно о правилах реферальной программы.</a></p>

        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>