 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/referralprogram" class="breadcrumb__uri">Реферальная программа</a></li>
    </ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-primary">
        <div class="clearfix"><br><br></div>


            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <h3>Пригласите друга – будете получать определенный процент от всех его покупок
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <img class="img-responsive" src="img/referralprogram/qs1.jpg">
                </div>

            </div>

            <div class="clearfix"><br><br></div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <h3>Если ваш друг пригласит своего друга – вы и с его покупок будете получать  определенный процент
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <img class="img-responsive" src="img/referralprogram/qs2.jpg">
                </div>

            </div>

            <div class="clearfix"><br><br></div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <h3>И даже если друг друга пригласит на сайт друга – и в этом случае вы получите долю от его покупок
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <img class="img-responsive" src="img/referralprogram/qs3.jpg">
                </div>

            </div>

            <div class="clearfix"><br><br></div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <h3>Такая система взаимосвязанных покупателей называется «Реферальная система». Она действует на нашем сайте.
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <img class="img-responsive" src="img/referralprogram/qs4.jpg">
                </div>

            </div>

            <div class="clearfix"><br><br></div>


            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <h3>Если вы поставите себе цель – создать собственную  обширную реферальную сеть – вы можете стать очень богаты!
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <img class="img-responsive" src="img/referralprogram/qs5.jpg">
                </div>

            </div>

            <div class="clearfix"><br><br></div>

            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <h3>Ваша реферальная система будет действовать неограниченно долго и приносить вам постоянный доход!
                    </h3>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                    <img class="img-responsive" src="img/referralprogram/qs6.jpg">
                </div>

            </div>

            <div class="clearfix"><br><br></div>



        <div class="col-xs-10">
            <a class="btn btn-primary" href="#page/refferal-bonus">Подробнее</a>
         </div>
         <div class="col-xs-2">
       <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
       </div>
    </div>
</div>
