<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/referralprogram" class="breadcrumb__uri">Реферальная программа</a></li>
    <li><a href="#page/refferal-bonus" class="breadcrumb__uri">Детально</a></li>
</ol>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">
        <h2 id="progRef">
            Реферальная программа</h2>
        <p>
            &nbsp;</p>
        <p>
            Любой вновь регистрирующийся в онлайн &ndash; гипермаркете QWERAS покупатель вправе вручную указать в соответствующем поле личного кабинета своего реферера.</p>
        <p>
            Если покупатель пришел на сайт по реферальной ссылке, то если он регистрируется в течение 30 календарных дней с момента первого захода на веб &ndash; сайт онлайн &ndash; гипермаркета QWERAS, то реферер в момент регистрации указывается как владелец реферальной ссылки. Если покупатель желает, несмотря на переход по реферальной ссылке, вручную указать своего реферера, он вправе это сделать.</p>
        <p>
            Реферер указывается в момент регистрации покупателя. По завершении процедуры регистрации внесение или изменение реферера в соответствующем поле личного кабинета покупателя перестает быть возможным, и покупатель не может участвовать в реферальной сети в качестве реферала для кого &ndash; либо.</p>
        <p>
            Рефералом первого уровня считается тот реферал, в личном кабинете которого указан реферер. Рефералом второго уровня считается тот реферал, в личном кабинете которого указан в качестве реферера реферал первого уровня. Рефералом третьего уровня&nbsp;&nbsp; считается тот реферал, в личном кабинете которого указан в качестве реферера реферал второго уровня. И так далее, количество уровней вложенности рефералов возможно до 10-го уровня.</p>
        <p>
            Со всех покупок реферала в течение всего срока существования проекта QWERAS рефереру начисляется определенный процент. Размер его зависит от товарной группы уникального товара и определяется в соответствии со следующей таблицей:</p>
        <p>
            &nbsp;<img border="0" height="189" src="img/image_bonusProgramm2.png" width="623" /></p>
        <p>
            &nbsp;</p>
        <p>
            Вычисление причитающегося рефереру суммы бонусных баллов рассчитывается по следующей формуле:</p>
        <p>
            Б = С * R <sub>n</sub>,</p>
        <p>
            Где Б &ndash; причитающаяся рефереру сумма бонуса</p>
        <p>
            С &ndash; стоимость покупки отдельного уникального товара</p>
        <p>
            n &ndash; уровень реферала</p>
        <p>
            R <sub>n</sub> &nbsp;- применяемый размер бонусного процента, вычисляемый в соответствии с вышеприведенной таблицей, как пересечение строки принадлежности уникального товара к категории и столбца уровня реферала.</p>
        <p>
            Расчет всех причитающихся участникам реферальной системы сумм бонусов производится один раз в день за предыдущий день. В расчет включаются только те покупки, которые имеют статус &laquo;Доставлен&raquo;.&nbsp;</p>
        <p>
            Все суммы бонусов, которые накапливаются участниками реферальной системы &nbsp;за разные дни, по распоряжению из его личного кабинета либо перечисляются на его реквизиты, указанные при регистрации, за вычетом НДФЛ, либо полностью без вычетов идут на оплату стоимости очередной покупки.</p>
        <p>
            &nbsp;</p>

        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>