
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/sales-without-the-legal-entity-or-entrepreneur" class="breadcrumb__uri">Продажи без юридического лица или ИП</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">

        <p>
            <strong>Уважаемые предприниматели!</strong></p>
        <p>
            В соответствии с законодательством для ведения торговой деятельности необходимо быть зарегистрированным в качестве компании &ndash; юридического лица или индивидуального предпринимателя. А это значит вести и сдавать бухгалтерскую отчетность, а также выполнять еще целый ряд требований, которые отнимают время, силы и деньги.</p>
        <p>
            <strong>Если вы физическое лицо</strong>, хотите вести продажи в нашем онлайн &ndash; гипермаркете, но не хотите регистрироваться и заниматься бухгалтерским учетом &ndash; <strong>мы нашли для вас решение</strong>!</p>
        <p>
            Часть наших партнеров, осуществляющих работу в онлайн &ndash; гипермаркете QWERAS в качестве Продавцов, являясь юридическими лицами, предоставляют возможность физическому лицу осуществлять торговлю от своего имени, заключив с физическим лицом договор гражданско &ndash; правового характера. В этом случае физическое лицо может сосредоточиться на торговле, не нарушать законодательство и не думать о бухгалтерии и иных проблемах, сопровождающих деятельность юридического лица или индивидуального предпринимателя.</p>
        <p>
            Для того, чтобы воспользоваться этим предложением, ознакомьтесь с Договором, который вам необходимо заключить с нашим Партнером, свяжитесь с ним, обсудите взаимодействие, заключите Договор и можете начинать продажи.</p>
        <p>
            Партнеры, которые предоставляют возможность физическим лицам работать от своего имени:</p>
        <p style="margin-left:53.45pt;">
            1.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;&hellip;&hellip;&hellip;&hellip;&raquo;. Тел. 8-&hellip;&hellip;&hellip;&hellip;... &hellip;&hellip;..@mail.ru</p>
        <p style="margin-left:53.45pt;">
            2.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ООО &laquo;&hellip;&hellip;&hellip;&hellip;&raquo;. Тел. 8-&hellip;&hellip;&hellip;&hellip;... &hellip;&hellip;..@yandex.ru &nbsp;</p>
        <p style="margin-left:36pt;">
            &nbsp;С текстом договора можете ознакомиться ЗДЕСЬ&hellip;</p>
        <p>
            &nbsp;</p>


        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>