
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/samples-of-documents" class="breadcrumb__uri">Образцы документов</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">


        <p class="MsoNormal">
            <b>
  <span style="font-size:22.0pt;line-height:115%">Образцы документов<o:p>
  </o:p>
</span>
            </b>
        </p>

        <p class="MsoNormal"><a href="#page/terms-of-use">Пользовательское соглашение для покупателей</a><o:p>
        </o:p>
        </p>

        <p class="MsoNormal"><a href="#page/agreement-on-cooperation">Договор о сотрудничестве с продавцом</a><o:p>
        </o:p>
        </p>

        <p class="MsoNormal"><a href="#page/the-contract-with-the-author-catalog-descriptions">Договор с автором описаний товаров</a><o:p>
        </o:p>
        </p>

        <p class="MsoNormal"><a href="#page/terms-of-bonus-programs">Правила бонусных программ</a><o:p>
        </o:p>
        </p>

        <p class="MsoNormal"><a href="#page/basic-conditions-of-work-in-the-online-sellers-hypermarket-QWERAS">Базовые условия работы продавцов</a><o:p>
        </o:p>
        </p>

        <p class="MsoNormal"><a href="#page/regulationtransaction">Регламент проведения сделки</a><o:p>
        </o:p>
        </p>

        <p class="MsoNormal"><a href="#page/rankingsystem">Положение о рейтинговой системе продавцов</a><o:p>
        </o:p>
        </p>


        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>