 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/termspartnership" class="breadcrumb__uri">Условия сотрудничества</a></li>
    </ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">
        <div class="clearfix"><br></div>
        <p>Qweras предлагает всем организациям и индивидуальным предпринимателям следующее:</p>
        <div class="clearfix"><br></div>
        <OL TYPE=1>
            <li><strong><i>Размещать на своих страницах предложения о продаже товаров и услуг.</i></strong> В системе уже существуют страницы множества товаров, уникальность описания каждого из них обеспечивается штрих-кодом, присвоенным международной системой GS1 (системой штрихового кодирования). Вам необходимо только найти ваш товар в соответствии с его штрих-кодом и разместить предложение цены и условий доставки. Делать это можно как непосредственно на страницах сайта, так и в форме автоматических выгрузок из 1C или файлов xls. Если вашего товара нет в системе, вы вправе самостоятельно сформировать страницу товара, и после модерации со стороны Qweras эта страница будет демонстрироваться покупателям. В качестве вознаграждения за проведенную работу по формированию страницы ваше ценовое предложение будет демонстрироваться в рамочке, выделяющей его относительно предложений других продавцов. <strong><a href="#page/termspartnership-details"><i>Подробно >></i></a></strong></li>
            <div class="clearfix"><br></div>
            <li><strong><i>Оформлять сделки купли-продажи товаров и услуг на страницах сайта.</i></strong>  Qweras позволяет в момент совершения заказа покупателем сформировать уведомление  об этом непосредственно на сайте в Личном кабинете продавца, по электронной почте, SMS и Skype. После этого продавец проводит сделку в соответствии с Регламентом проведения сделки. <strong><a href="#page/termspartnership-details"><i>Подробно >></i></a></strong></li>
            <div class="clearfix"><br></div>
            <li><strong><i>Находить предложения покупателей о покупке конкретных товаров и отзываться на них.</i></strong>Покупатели размещают на страницах Qweras предложения о покупке товаров по интересующей их цене. Продавец имеет возможность искать и просматривать предложения покупателей по своему товарному перечню, и отзываться на предложения с последующим проведением сделок купли-продажи.  <strong><i>Подробно….</i></strong></li>
            <div class="clearfix"><br></div>
            <li>Участвовать в специальных бонусных программах для продавцов. Qweras организовывает розыгрыш двух бонусных программ для продавцов, с помощью которых продавцы могут получить неплохой дополнительный заработок.  <strong><a href="#page/termspartnership-details"><i>Подробно >></i></a></strong></li>
            <div class="clearfix"><br></div>
        </OL>
        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>