 <ol class="breadcrumb">
        <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
        <li><a href="#page/termspartnership" class="breadcrumb__uri">Условия сотрудничества</a></li>
        <li><a href="#page/termspartnership-details" class="breadcrumb__uri">Подробно</a></li>
    </ol>
<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">
        <div class="clearfix"><br></div>
    <strong>Правила работы</strong></li>
    <div class="clearfix"><br></div>
    <OL TYPE=1>
        <li> Для обеспечения работоспособности системы Qweras  от каждой сделки, проведенной в системе, рассчитывается сумма обеспечительного взноса. Размер сумм обеспечительного взноса по видам реализуемых товаров следующие:</li>
        <div class="clearfix"><br></div>
        <table style="width:60%"  class="table table-hover">
            <tr>
                <th>Товарная группа</th>
                <th>Размер обеспечительного взноса от суммы сделки без учета доставки</th>
            </tr>
            <tr>
                <td>Лекарства и парафармацевтика</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Туризм</td>
                <td>3%</td>
            </tr>
            <tr>
                <td>Компьютеры и оргтехника</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>Бытовая техника</td>
                <td>5%</td>
            </tr>
            <tr>
                <td>Запчасти</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Ювелирные украшения</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Книги</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Одежда</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Детские товары</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Аксессуары</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Парфюмерия и косметика</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Мебель</td>
                <td>10%</td>
            </tr>
            <tr>
                <td>Подарочный сертификат</td>
                <td>10%</td>
            </tr>
        </table>
        <div class="clearfix"><br></div>
        <p>Суммы обеспечительного взноса расходуются следующим образом:</p>
        <div class="clearfix"><br></div>
        <ul style="list-style-type:disc">
            <li>
                10% от суммы обеспечительного взноса  – бонусная программа для покупателей «Больше потратил за день»
                <div class="clearfix"><br></div>
            </li>
            <li>
                10% от суммы обеспечительного взноса  – бонусная программа для покупателей «Чаще покупал за день»
                <div class="clearfix"><br></div>
            </li>
            <li>
                10% от суммы обеспечительного взноса  – бонусная программа для покупателей «Больше потратил за месяц»
                <div class="clearfix"><br></div>
            </li>
            <li>
                10% от суммы обеспечительного взноса  – бонусная программа для покупателей «Чаще покупал за месяц»
                <div class="clearfix"><br></div>
            </li>
            <li>
                10% от суммы обеспечительного взноса  – бонусная программа для продавцов
                <div class="clearfix"><br></div>
            </li>
            <li>
                20%  от суммы обеспечительного взноса – оплата реферальной системы привлечения клиентов
                <div class="clearfix"><br></div>
            </li>
            <li>
                30%  от суммы обеспечительного взноса – доход системы Qweras.
                <div class="clearfix"><br></div>
            </li>
        </ul>
        <div class="clearfix"><br></div>
        <p>Обеспечительный взнос перечисляется в Qweras в качестве депозита. По мере совершения сделок купли-продажи указанные выше отчисления в указанном размере списываются с депозита продавца. Если депозит в определенный момент времени перестает быть больше 0, товарные предложения продавца перестают демонстрироваться в системе до момента пополнения продавцом депозита. </p>
        <div class="clearfix"><br></div>
        <li> Каждый продавец  декларирует на сайте свое время работы, с указанием  начала и окончания работы в рабочие дни, указывает свои стандартные выходные. Об особом режиме работы в отдельные праздничные и выходные дни продавец обязан размещать информацию дополнительно. </li>
        <div class="clearfix"><br></div>
        <li>Продавец  декларирует, что цены, по которым он продает свои товары в системе Qweras, не выше цен, по которым продавец реализует свои товары в других местах. Если будут выявлены случаи предложения продавцами в системе Qweras товаров по завышенным по сравнению с другими местами реализации этих товаров ценам, администрация оставляет за собой право прекратить сотрудничество с такими продавцами с удержанием в качестве штрафных санкций суммы депозита продавца.</li>
        <div class="clearfix"><br></div>
        <li>Продавец декларирует, что не будет предпринимать попыток совершать сделки  в обход системы. В случае выявления таких объективно доказанных попыток система Qweras вправе предъявить в качестве штрафных санкций сумму выручки данного продавца в течение календарного месяца, предшествующего дате выявленной объективно доказанной попытки.</li>
        <div class="clearfix"><br></div>
        <li>Продавец обязуется совершать сделки от своего лица с неукоснительным соблюдением обеспечением всех пунктов и положений закона «О защите прав потребителей» и  иных законодательных документов, регламентирующих розничную торговлю товарами и оказание услуг населению.</li>
        <div class="clearfix"><br></div>
        <li>Продавец обязуется, что продает именно тот товар, который размещен на странице товара в Qweras, что все его фактические характеристики полностью соответствуют размещенным на сайте, включая производителя и потребительские свойства. Продавец гарантирует, что не распространяет контрафактную продукцию.</li>
        <div class="clearfix"><br></div>
        <li>По всем вопросам, связанным с претензионной работой по совершенным сделкам купли – продажи, продавец самостоятельно и за свой счет занимается урегулированием возникших разногласий с покупателем. Qweras не является стороной сделки купли-продажи и не несет ответственность за качество и полноту оказания услуг продавцом. </li>
        <div class="clearfix"><br></div>
        <li> В ходе работы продавца в системе формируется его рейтинг. Этот рейтинг демонстрируется покупателям. Система присвоения рейтинга регулируется Положением о рейтинговой системе Продавцов.</li>
    </OL>

    <div class="col-xs-10"></div>
    <div class="col-xs-2">
        <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
    </div>
</div>
</div>