
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/trader_lp_v1" class="breadcrumb__uri">Продавцам</a></li>
</ol>

<div class="row" id="trader_lp_v1">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">

        <div id="section1" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Предлагаем вашему вниманию онлайн – гипермаркет QWERAS – удобный инструмент увеличения Ваших продаж!
                </h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section1.jpg" class="img-responsive">
            </div>
        </div>


        <div id="section2" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section2.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Если вы продаете товары и хотите делать это в интернете – наше предложение для Вас!
                </h1>
            </div>
        </div>

        <div id="section3" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Работая с нами, вы получаете дополнительный, (возможно, основной) канал  сбыта.
                </h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section3.jpg" class="img-responsive">
            </div>
        </div>

        <div id="section4" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section4.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Передовые уникальные методики, которые обеспечат  «взрывной» рост продаж.
                </h1>
            </div>
        </div>


        <div id="section5" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Централизованное продвижение Вас и вашего товара за счет продвижения гипермаркета в целом.
                </h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section5.jpg" class="img-responsive">
            </div>
        </div>


        <div id="section6" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section6.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Объединение розничных продавцов для конкуренции крупным торговым сетям.
                </h1>
            </div>
        </div>


        <div id="section7" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Все возможности и полноценный функционал собственного сайта без соответствующих затрат.
                </h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section7.jpg" class="img-responsive">
            </div>
        </div>


        <div id="section8" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section8.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Возможность использовать официальную информацию о товарах из мировой системы штрихового кодирования GS1
                </h1>
            </div>
        </div>


        <div id="section9" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Широчайшую покупательскую аудиторию, привлеченную уникальными бонусными программами
                </h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section9.jpg" class="img-responsive">
            </div>
        </div>


        <div id="section10" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section10.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Возможность активного поиска покупателя.
                </h1>
            </div>
        </div>

        <div class="title section text-center">
            <h1>Общая схема сотрудничества</h1>
        </div>

        <div id="section11" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Вы размещаете на портале свои товарные предложения
                </h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section11.jpg" class="img-responsive">
            </div>
        </div>


        <div id="section12" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section12.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    С помощью портала принимаете заказы.
                </h1>
            </div>
        </div>


        <div id="section13" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>Общаетесь с клиентом</h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section13.jpg" class="img-responsive">
            </div>
        </div>

        <div id="section14" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section14.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Формируете заказ.
                </h1>
            </div>
        </div>


        <div id="section15" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>И передаете его курьерской службе</h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section15.jpg" class="img-responsive">
            </div>
        </div>


        <div id="section16" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section16.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Далее – только контроль поступления Ваших денег
                </h1>
            </div>
        </div>


        <div class="title row section text-center">
            <h1>Наш лозунг «Нет расхода без дохода!»</h1>
        </div>


        <div id="section17" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>Единственный ваш расход – определенный процент с совершенной сделки.</h1>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section17.jpg" class="img-responsive">
            </div>
        </div>

        <div id="section18" class="row section">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <img src="img/trader/section18.jpg" class="img-responsive">
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 vcenter">
                <h1>
                    Вы сохраняете деньги, точно зная соотношение доходов и затрат.
                </h1>
            </div>
        </div>


        <div id="section17" class="row section">
            <div class="col-xs-12 text-center">
                <h1>Ждем Вас в рядах наших партнеров!</h1>
            </div>

            <div class="col-xs-12">
                <img src="img/trader/section19.jpg" class="img-responsive">
            </div>
        </div>

        <div id="section18" class="row section">
            <div class="col-xs-12 text-center">
                <a href="#registration" class="btn btn-primary btn-lg">Зарегистрироваться</a>
            </div>
        </div>

        <div class="clearfix"><br><br></div>



        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>