<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/trader_lp_v2" class="breadcrumb__uri">Продавцам</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8 text-primary">
        <div class="row">

            <h2 class="text-center">Уважаемые продавцы товаров и поставщики услуг!
            </h2>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Предлагаем вашему вниманию онлайн – гипермаркет QWERAS – удобный инструмент увеличения Ваших продаж!
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs1.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Если вы продаете товары и хотите делать это в интернете – наше предложение для Вас!
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs2.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">

            <h2 class="text-center">Работая с нами, вы получаете:
            </h2>

        </div>

        <div class="clearfix"><br><br></div>

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Дополнительный, (возможно, основной) канал  сбыта.
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs3.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Передовые уникальные методики, которые обеспечат  «взрывной» рост продаж.

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs4.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Централизованное продвижение Вас и вашего товара за счет продвижения гипермаркета в целом.

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs5.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Объединение розничных продавцов для конкуренции крупным торговым сетям

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs6.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Все возможности и полноценный функционал собственного сайта без соответствующих затрат

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs7.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Возможность использовать официальную информацию о товарах из мировой системы штрихового кодирования GS1
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs8.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Широчайшую покупательскую аудиторию, привлеченную уникальными бонусными программами

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs9.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Возможность активного поиска покупателя.

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs10.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <h2 class="text-center">Общая схема сотрудничества</h2>

        </div>

        <div class="clearfix"><br><br></div>



        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Вы размещаете на портале свои товарные предложения


                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs11.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>С помощью портала принимаете заказы
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs12.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>общаетесь с клиентом

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs13.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>формируете заказ</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs14.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>и передаете его курьерской службе
                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs15.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Далее – только контроль поступления Ваших денег

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs16.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>



        <div class="row">

            <h2 class="text-center">Наш лозунг «Нет расхода без дохода!»</h2>

        </div>

        <div class="clearfix"><br><br></div>




        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Единственный ваш расход – определенный процент с совершенной сделки.

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs17.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <h3>Вы сохраняете деньги, точно зная соотношение доходов и затрат

                </h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs18.jpg">
            </div>

        </div>

        <div class="clearfix"><br><br></div>


        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
                <h2>Ждем Вас в рядах наших партнеров!

                </h2>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter">
                <img class="img-responsive" src="img/trader_lp_v2/qs19.jpg">
            </div>
            <div class="clearfix"><br><br></div>
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 vcenter text-center">
                <button data-action="trader" class="btn btn-primary btn-lg registration">Зарегистрироваться</button>
            </div>

        </div>

        <div class="clearfix"><br><br></div>



        <div class="col-xs-10">

        </div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>
</div>
