
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/union-gs1" class="breadcrumb__uri">Договор о сотрудничестве с членам ассициации ГС1/РУС ЮНИСКАН</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">


        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
            <o:p>&nbsp;</o:p>
        </p>

        <p class="MsoNormal" align="center" style="text-align:center">ДОГОВОР О
            СОТРУДНИЧЕСТВЕ<o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
            <o:p>&nbsp;</o:p>
        </p>

        <p class="MsoNormal">г. Москва&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            «__»________20__г. <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
            <o:p>&nbsp;</o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph;
text-indent:35.45pt">Ассоциация автоматической идентификации «ЮНИСКАН/ГС1 РУС»,
            именуемая в дальнейшем «ГС1 РУС», в лице Генерального директора Георгия
            Константиновича Насонова, действующего на основании Устава, с одной стороны, и
            член ГС1 РУС, предприятие Общество с ограниченной ответственностью «Технологии
            интернет – продаж» GLN=462001739995, официальный партнер ГС1 РУС и владелец онлайн
            – гипермаркета <span lang="EN-US">QWERAS</span>, именуемое
            в дальнейшем «ПАРТНЕР», в лице Генерального директора Титкова Алексея
            Викторовича, действующего на основании Устава, с другой стороны, и
            __________________________________________________________________, GLN=, именуемое
            в дальнейшем «ОРГАНИЗАЦИЯ», в лице ____________________________, действующего
            на основании ______________________________, с третьей стороны, совместно
            именуемые «Стороны», заключили настоящее Соглашение о нижеследующем: <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">1.
            ПРЕДМЕТ СОТРУДНИЧЕСТВА <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">1.1.
            Стороны договорились совместно и согласованно осуществлять деятельность по
            предоставлению посредством онлайн – гипермаркета <span lang="EN-US">QWERAS</span>
            <span lang="EN-US"> </span>всем
            заинтересованным лицам достоверной, точной и актуальной информации о товарах, производимых
            ОРГАНИЗАЦИЕЙ, содержащейся в служебной базе данных ГС1 РУС «Система GS 46»,
            именуемой далее «Каталог GS46». Указанная деятельность проводится в целях
            развития онлайн – продаж товаров, производимых предприятиями-членами ГС1 РУС на
            страницах онлайн – гипермаркета <span lang="EN-US">QWERAS</span>.<o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.
            ПРАВА И ОБЯЗАННОСТИ СТОРОН <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.1.
            ГС1 РУС обязан: <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.1.1.
            Предоставить возможность ОРГАНИЗАЦИИ самостоятельно или с привлечением
            официальных партнеров ГС1 РУС заполнять в Каталоге &nbsp;GS46 минимально допустимый набор характеристик
            (полей) товара:<o:p>
            </o:p>
        </p>

        <p class="MsoListParagraphCxSpFirst" style="text-align:justify;text-justify:inter-ideograph;
text-indent:-18.0pt;mso-list:l0 level1 lfo1">
            <!--[if !supportLists]-->
<span style="font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
</span>
            <!--[endif]-->Изображение (1 проекция)<o:p>
        </o:p>
        </p>

        <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
            <!--[if !supportLists]-->
<span style="font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
</span>
            <!--[endif]-->Изготовитель<o:p>
        </o:p>
        </p>

        <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
            <!--[if !supportLists]-->
<span style="font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
</span>
            <!--[endif]-->Товарный знак<o:p>
        </o:p>
        </p>

        <p class="MsoListParagraphCxSpMiddle" style="text-align:justify;text-justify:
inter-ideograph;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
            <!--[if !supportLists]-->
<span style="font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
</span>
            <!--[endif]-->Наименование товара<o:p>
        </o:p>
        </p>

        <p class="MsoListParagraphCxSpLast" style="text-align:justify;text-justify:inter-ideograph;
text-indent:-18.0pt;mso-list:l0 level1 lfo1">
            <!--[if !supportLists]-->
<span style="font-family:Symbol;mso-fareast-font-family:Symbol;mso-bidi-font-family:
Symbol">·<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
</span>
            <!--[endif]-->Текстовое описание товара в свободной форме <o:p>
        </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.2.
            ПАРТНЕР обязан: <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.2.1.
            Предоставить возможность экспонирования на страницах онлайн – гипермаркета <span lang="EN-US">QWERAS</span>
            <span lang="EN-US"> &nbsp;</span>указанного в п.2.1.1 минимально
            допустимого набора характеристик товара ОРГАНИЗАЦИИ, содержащегося в Каталоге &nbsp;GS46.<o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.2.2.
            Обеспечить возможность совершения продаж товаров ОРГАНИЗАЦИИ любыми
            юридическими лицами и индивидуальными предпринимателями, за исключением тех, которым
            ОРГАНИЗАЦИЯ запретила реализацию своих товаров, о чем в письменной форме
            уведомила ПАРТНЕРА.<o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.2.3.
            Выплачивать ОРГАНИЗАЦИИ определенную долю (процент) от продаж ее товаров,
            произведенных на страницах онлайн – гипермаркета <span lang="EN-US">QWERAS</span> в период действия настоящего
            Договора. Размер доли (процента) устанавливается дополнительным соглашением,
            являющимся неотъемлемой частью настоящего Договора. &nbsp;<o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.3.
            ОРГАНИЗАЦИЯ обязана:<o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.3.1.
            Сформировать и поддерживать в актуальном состоянии информацию о своих товарах в
            Каталоге GS464 в соответствии с требованиями ГС1 РУС. <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">2.3.2.
            При поступлении от ГС1 РУС или ПАРТНЕРА рекомендаций о редактировании или
            добавлении информации в мастер – данные Каталога GS46 в отношении товаров
            ОРГАНИЗАЦИИ незамедлительно производить соответствующие изменения. <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">3.
            СРОК ДЕЙСТВИЯ ДОГОВОРА И ПОРЯДОК ЕГО РАСТОРЖЕНИЯ <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">3.1.
            Настоящий Договор вступает в силу с момента его подписания Сторонами и
            действует до наступления оснований для его расторжения. <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">3.2.
            Соглашение может быть расторгнуто: <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">3.2.1.
            по соглашению Сторон; <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">3.2.2.
            по инициативе ГС1 РУС либо ПАРТНЕРА, если будут иметь место факты нарушения ОРГАНИЗАЦИЕЙ
            п.п.2.3.1, 2.3.2. настоящего Договора. Уведомление о расторжении направляется
            по адресу ОРГАНИЗАЦИИ за один рабочий день до даты расторжения. <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">3.2.3.
            в связи с расторжением Соглашения о сотрудничестве от «___» __________2015 г.
            между &nbsp;ГС1 РУС и ПАРТНЕРОМ.<o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">3.2.3.
            в связи с ликвидацией или реорганизацией юридических лиц, являющихся Сторонами
            настоящего Соглашения. <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">4.
            ПОРЯДОК РАЗРЕШЕНИЯ СПОРОВ <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">4.1.
            Все споры и разногласия, которые могут возникнуть у Сторон, будут по
            возможности решаться путем переговоров. Ответ на претензию стороны должен быть
            направлен другой стороне в течение 15 дней со дня получения претензии. При не
            урегулировании разногласий путем переговоров спор передается на разрешение
            компетентного суда Российской Федерации по месту нахождения ГС1 РУС. <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">5.
            ОСУЩЕСТВЛЕНИЕ СВЯЗИ МЕЖДУ СТОРОНАМИ <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">5.1.
            Связь между сторонами осуществляется через ответственных лиц, которыми
            являются: <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">5.1.1.
            От ГС1 РУС: <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">ФИО<o:p>
        </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
            <span lang="EN-US">Email</span>: <o:p>
        </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">Тел.
            <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">5.1.2.
            От ПАРТНЕРА: <o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">ФИО<o:p>
        </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
            <span lang="EN-US">Email</span>: <o:p>
        </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">Тел.<o:p>
        </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">5.1.2.
            От ОРГАНИЗАЦИИ:<o:p>
            </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">ФИО<o:p>
        </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
            <span lang="EN-US">Email</span>: <o:p>
        </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">Тел.<o:p>
        </o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">&nbsp;6. ЮРИДИЧЕСКИЕ АДРЕСА И РЕКВИЗИТЫ СТОРОН <o:p>
        </o:p>
        </p>

        <table class="MsoTableGrid" border="1" cellspacing="0" cellpadding="0" style="border-collapse:collapse;border:none;mso-border-alt:solid black .5pt;
 mso-border-themecolor:text1;mso-yfti-tbllook:1184;mso-padding-alt:0cm 5.4pt 0cm 5.4pt">
            <tbody>
            <tr>
                <td width="207" valign="top" style="width:155.15pt;border:solid black 1.0pt;
  mso-border-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
  text1;padding:0cm 5.4pt 0cm 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:10.0pt;text-align:justify;text-justify:
  inter-ideograph;line-height:115%">ГС1 РУС:<o:p>
                    </o:p>
                    </p>
                </td>
                <td width="216" valign="top" style="width:162.1pt;border:solid black 1.0pt;
  mso-border-themecolor:text1;border-left:none;mso-border-left-alt:solid black .5pt;
  mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
  text1;padding:0cm 5.4pt 0cm 5.4pt">
                    <p class="MsoNormal" style="margin-bottom:10.0pt;text-align:justify;text-justify:
  inter-ideograph;line-height:115%">ПАРТНЕР:<o:p>
                    </o:p>
                    </p>
                </td>
                <td width="215" valign="top" style="width:161.3pt;border:solid black 1.0pt;
  mso-border-themecolor:text1;border-left:none;mso-border-left-alt:solid black .5pt;
  mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
  text1;padding:0cm 5.4pt 0cm 5.4pt">
                    <p class="MsoNormal" style="margin-bottom: 0.0001pt; text-align: justify;">ОРГАНИЗАЦИЯ:<o:p>
                    </o:p>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="207" valign="top" style="width:155.15pt;border:solid black 1.0pt;
  mso-border-themecolor:text1;border-top:none;mso-border-top-alt:solid black .5pt;
  mso-border-top-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
  text1;padding:0cm 5.4pt 0cm 5.4pt">
                    <p class="MsoNoSpacing">
                        <b>Ассоциация
                            автоматической идентификации «ЮНИСКАН/ГС1 РУС» <o:p>
                            </o:p>
                        </b>
                    </p>
                    <p class="MsoNoSpacing">Адрес: <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">115114, г.Москва, Кожевнический проезд, д.4, стр.3 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">Почтовый адрес: <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">119415, г.Москва, а/я 4 ГС1 РУС <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">Тел.: (495) 640-53-09; <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                    <p class="MsoNoSpacing">ИНН 7710026800 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">КПП 770501001 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">ОГРН 1027700145890 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">ОКПО 00627822 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                    <p class="MsoNoSpacing">Банковские реквизиты: <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">р/с 40703810338180100242 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">в Московском банке Сбербанка России ОАО, г.Москва <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">к/с 30101810400000000225 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">БИК 044525225 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">ОКВЭД 72.30 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">&nbsp;(495) 640-53-08 <o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">Тел./факс: (495) 640-53-26<o:p>
                    </o:p>
                    </p>
                </td>
                <td width="216" valign="top" style="width:162.1pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
  border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
  solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
  mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
  text1;padding:0cm 5.4pt 0cm 5.4pt">
                    <p class="MsoNoSpacing">
                        <b>Общество с
                            ограниченной ответственностью «Технологии интернет – продаж»<o:p>
                            </o:p>
                        </b>
                    </p>
                    <p class="MsoNoSpacing">Адрес:<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">125475, Москва, ул. Клинская, д.10, к.2, кв.23<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                    <p class="MsoNoSpacing">Почтовый адрес:<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">125565, Москва, ул. Фестивальная, д.4, кв.193<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">Тел. 8 (964) 771-00-03<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                    <p class="MsoNoSpacing">ИНН 7743027781<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">КПП 774301001<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">ОГРН 1147748157853<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">ОКПО 11614780<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                    <p class="MsoNoSpacing">Банковские реквизиты:<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">р/с 40702810400000430828<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">в АКБ «Росевробанк» (ОАО)<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                    <p class="MsoNoSpacing">к/c 30101810800000000777<span style="font-size:12.0pt;
  font-family:&quot;Times New Roman&quot;,&quot;serif&quot;;mso-fareast-font-family:&quot;Times New Roman&quot;">
<o:p>
</o:p>
</span>
                    </p>
                    <p class="MsoNoSpacing">БИК 044585777<o:p>
                    </o:p>
                    </p>
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                </td>
                <td width="215" valign="top" style="width:161.3pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
  border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
  solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
  mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
  text1;padding:0cm 5.4pt 0cm 5.4pt">
                    <p class="MsoNoSpacing">
                        <o:p>&nbsp;</o:p>
                    </p>
                </td>
            </tr>
            <tr>
                <td width="207" valign="top" style="width:155.15pt;border:solid black 1.0pt;
  mso-border-themecolor:text1;border-top:none;mso-border-top-alt:solid black .5pt;
  mso-border-top-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
  text1;padding:0cm 5.4pt 0cm 5.4pt">
                    <p class="MsoNoSpacing">
                        <b>Генеральный
                            директор <o:p>
                            </o:p>
                        </b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>_______________Насонов
                            Г.К.<o:p>
                            </o:p>
                        </b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>&nbsp;</b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>&nbsp;</b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>&nbsp;</b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>М.П.<o:p>
                        </o:p>
                        </b>
                    </p>
                </td>
                <td width="216" valign="top" style="width:162.1pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
  border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
  solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
  mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
  text1;padding:0cm 5.4pt 0cm 5.4pt">
                    <p class="MsoNoSpacing">
                        <b>
                            <i>Генеральный директор <o:p>
                            </o:p>
                            </i>
                        </b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>_________________
                            Титков А.В.<o:p>
                            </o:p>
                        </b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>&nbsp;</b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>&nbsp;</b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>&nbsp;</b>
                    </p>
                    <p class="MsoNoSpacing">
                        <b>М.П.<o:p>
                        </o:p>
                        </b>
                    </p>
                </td>
                <td width="215" valign="top" style="width:161.3pt;border-top:none;border-left:
  none;border-bottom:solid black 1.0pt;mso-border-bottom-themecolor:text1;
  border-right:solid black 1.0pt;mso-border-right-themecolor:text1;mso-border-top-alt:
  solid black .5pt;mso-border-top-themecolor:text1;mso-border-left-alt:solid black .5pt;
  mso-border-left-themecolor:text1;mso-border-alt:solid black .5pt;mso-border-themecolor:
  text1;padding:0cm 5.4pt 0cm 5.4pt">
                    <p class="MsoNoSpacing">
                        <b>
                            <i>&nbsp;</i>
                        </b>
                    </p>
                </td>
            </tr>
            </tbody>
        </table>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
            <o:p>&nbsp;</o:p>
        </p>

        <p class="MsoNormal" style="text-align:justify;text-justify:inter-ideograph">
            <o:p>&nbsp;</o:p>
        </p>





        <div class="col-xs-10">

            <a class="btn btn-primary" href="doc/ЮНИСКАН ПРОИЗВОДИТЕЛЬ ТИП Договор трехсторонний.docx" target="_blank">Скачать договор</a>

        </div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>