
<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/union-gs1" class="breadcrumb__uri">Членам ассициации ГС1/РУС ЮНИСКАН</a></li>
</ol>

<div class="row">
    <div class="col-xs-2"></div>
    <div class="col-xs-8" style="text-align: justify;">

        <div class="row">
            <div class="col-xs-6 text-right"><a class="btn btn-primary" href="#page/union-agreement-on-cooperation">Договор</a></div>
            <div class="col-xs-6"><a class="btn btn-primary" href="#page/union-capabilities">Возможности</a></div>
        </div>

        <div class="clearfix"><br></div>
        <div class="clearfix"><br></div>


        <p class="MsoNormal" style="text-align:justify;text-indent:35.45pt">Сегодня мы
            являемся свидетелями ускоренного развития различных форм торговли через
            Интернет. Всё большие объёмы розничных, а также оптовых продаж осуществляются
            онлайн. Подрастает поколение, которое практически всё своё свободное время
            проводит в Сети и там же осуществляет поиск и покупку необходимых товаров. Те
            производители, которые в самое ближайшее время не позаботятся о присутствии
            своих товаров в Интернете, утратят массовый канал сбыта своей продукции и
            однозначно проиграют в конкурентной борьбе.<o:p>
            </o:p>
        </p>
        <p class="MsoNormal" style="text-align:justify;text-indent:35.45pt">В этой связи Ассоциация
            ГС1 РУС совместно с онлайн – гипермаркетом <span lang="EN-US">QWERAS</span>
            <span lang="EN-US"> </span>начинает формирование в сети
            Интернет страниц для осуществления онлайн-продаж всех товаров, зарегистрированных
            в Каталоге <span lang="EN-US">GS</span>46. Любые
            продавцы – как юридические лица, так и индивидуальные предприниматели – будут
            иметь возможность размещать свои ценовые предложения на этих страницах и
            совершать на них сделки купли-продажи. Для осуществления продаж в Интернете продавцу
            не потребуется иметь собственный сайт, достаточно будет иметь свой аккаунт в онлайн
            – гипермаркете <span lang="EN-US">QWERAS</span>.<o:p>
            </o:p>
        </p>
        <p class="MsoNormal" style="text-align:justify;text-indent:35.45pt">Онлайн –
            гипермаркет <span lang="EN-US">QWERAS</span>
            разработал ряд инновационных решений, которые позволят привлечь на страницы
            электронного каталога товаров большое количество покупателей и стимулировать их
            покупать как можно чаще и на все большие суммы. <o:p>
            </o:p>
        </p>
        <p class="MsoNormal" style="text-align:justify;text-indent:35.45pt">На данном
            этапе формирования интернет-каталога мы столкнулись с тем фактом, что мастер-данные
            в Каталоге <span lang="EN-US">GS</span>46 заполняются
            недостаточно для обеспечения качественной подачи информации в сети Интернет. Отсутствуют
            изображения товаров, их качественные описания и характеристики, без которых продажи
            через Интернет невозможны.<o:p>
            </o:p>
        </p>
        <p class="MsoNormal" style="text-align:justify;text-indent:35.45pt">Ассоциация ГС1
            РУС совместно с онлайн – гипермаркетом <span lang="EN-US">QWERAS</span>
            <span lang="EN-US"> </span>предлагает <b>всем членам Ассоциации принять активное участие в создании страниц
                своих товаров в сети Интернет в онлайн – гипермаркете </b>
            <b>
                <span lang="EN-US">QWERAS</span>.</b> Для
            этого необходимо качественно заполнить мастер-данные в Каталоге <span lang="EN-US">GS</span>46 и в дальнейшем поддерживать
            их в актуальном состоянии. В качестве стимула <b>онлайн – гипермаркет </b>
            <b>
                <span lang="EN-US">QWERAS</span> готов выделять членам Ассоциации
                определенный процент с продаж</b>, которые будут совершаться через страницы
            Ваших товаров в онлайн – гипермаркете <span lang="EN-US">QWERAS</span>. Кроме того, члены Ассоциации будут иметь возможность контролировать
            продажу своих товаров в онлайн – гипермаркете <span lang="EN-US">QWERAS</span>, либо самостоятельно продавать
            свои товары на страницах Проекта. С более подробным описанием Ваших возможностей
            в онлайн – гипермаркете <span lang="EN-US">QWERAS</span>
            можно ознакомиться по адресу: <span lang="EN-US">
<a href="http://qweras.ru/#page/union-capabilities">http<span lang="RU">://</span>qweras<span lang="RU">.</span>ru<span lang="RU">/#</span>page<span lang="RU">/union-capabilities</span>
</a>
</span>
            <o:p>
            </o:p>
        </p>
        <p class="MsoNormal" style="text-align:justify;text-indent:35.45pt">Просим членов
            Ассоциации принять участие в создании интернет – каталога. Для этого необходимо
            совершить следующее:<o:p>
            </o:p>
        </p>
        <p class="MsoListParagraphCxSpFirst" style="margin-left:53.45pt;mso-add-space:
auto;text-align:justify;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
            <!--[if !supportLists]-->1.<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
            <!--[endif]-->Заключить трехсторонний договор (ГС РУС, <span lang="EN-US">QWERAS</span>, Член ассоциации),
            текст которого размещен по адресу <span lang="EN-US">
  <a href="http://qweras.ru/#page/union-agreement-on-cooperation">http<span lang="RU">://</span>qweras<span lang="RU">.</span>ru<span lang="RU">/#</span>page<span lang="RU">/union-agreement-on-cooperation</span>
  </a>
</span>
            <o:p>
            </o:p>
        </p>
        <p class="MsoListParagraphCxSpMiddle" style="margin-left:53.45pt;mso-add-space:
auto;text-align:justify;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
            <!--[if !supportLists]-->2.<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
            <!--[endif]-->Заполнить мастер-данные Каталога <span lang="EN-US">GS</span>46 либо собственными
            силами, либо с привлечением компании <span lang="EN-US">GS</span> Сервис, обладающей технологиями и оборудованием, необходимым
            для проведения этой работы.<o:p>
        </o:p>
        </p>
        <p class="MsoListParagraphCxSpMiddle" style="margin-left:53.45pt;mso-add-space:
auto;text-align:justify;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
            <!--[if !supportLists]-->3.<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
            <!--[endif]-->В дальнейшем поддерживать мастер-данные в
            актуальном состоянии.<o:p>
        </o:p>
        </p>
        <p class="MsoListParagraphCxSpMiddle" style="margin-left:53.45pt;mso-add-space:
auto;text-align:justify;text-indent:-18.0pt;mso-list:l0 level1 lfo1">
            <!--[if !supportLists]-->4.<span style="font-stretch: normal; font-size: 7pt; font-family: 'Times New Roman';">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</span>
            <!--[endif]-->В период действия договора получать определенный
            процент от продаж, совершаемых любыми продавцами на страницах онлайн –
            гипермаркета <span lang="EN-US">QWERAS</span>
            <span lang="EN-US"> </span>с использованием заполненных Членом ассоциации мастер-данных
            Каталога <span lang="EN-US">GS</span>46.<o:p>
        </o:p>
        </p>
        <p class="MsoNormal" style="text-align:justify;text-indent:35.45pt">

        </p>
        <p class="MsoListParagraphCxSpLast" style="margin-left:53.45pt;mso-add-space:
auto;text-align:justify">
            <o:p>&nbsp;</o:p>
        </p>



        <div class="col-xs-10"></div>
        <div class="col-xs-2">
            <strong><p><a href="javascript: history.go(-1)"><< Назад</a></p></strong>
        </div>
    </div>

</div>