<ol class="breadcrumb">
    <li><a href="#home" class="breadcrumb__uri breadcrumb__uri--home"><span class="glyphicon glyphicon-home"></span></a></li>
    <li><a href="#page/userAgreement" class="breadcrumb__uri">Условия сотрудничества</a></li>
</ol>

<div class="row">
<div class="col-xs-4"></div>
<div class="col-xs-3" style="text-align: center;">
    <div class="clearfix"><br></div>
    <strong><p  style="line-height: 5px">Договор </p> <p>об участии в бонусной программе «ДОХОДНАЯ ПОКУПКА».</p></strong>
    <div class="clearfix"><br></div>
 </div>
 <div class="col-xs-5"></div>
 </div>
 <div class="row">
    <div class="col-xs-2"></div>
     <div class="col-xs-8" style="text-align: justify;"><span>Общество с ограниченной ответственностью «МАТРИКС», именуемое в дальнейшем <strong>Промоутер</strong> предлагает любому покупателю товаров Онлайн-гипермаркета QWERAS, являющемуся гражданином Российской Федерации, именуемому в дальнейшем  <strong>Участник</strong> принять участие в бонусной программе «ДОХОДНАЯ ПОКУПКА» на условиях, изложенных в настоящей оферте,  и подтвердить свое согласие (акцепт) нижеуказанным способом:</span>
     <div class="clearfix"><br></div>
     <div class="col-xs-2"></div>
     <div class="col-xs-8" style="text-align: justify;">
     	     <div class="clearfix"><br></div>  
        	<p><strong>1. Понятия, используемые для целей настоящего оферты:</strong></p>
        	 <div class="clearfix"><br></div>
       
     </div>
      <div class="col-xs-2"></div>
     </div> 
     <div class="col-xs-2"></div>
     </div> 
       	 <div class="row">
       	  <div class="col-xs-2"></div>
     	  <div class="col-xs-8" style="text-align: justify;">
       		 <!--style="color: red;"-->
        		<p><span><strong>Участник бонусной программы (покупатель)</strong>– гражданин, осуществляющий 
				покупки в Онлайн-гипермаркете QWERAS и выразивший согласие на использование 
				накопленных бонусных баллов (Кверов), предоставивший в Учетно-вычислительный 
				центр QWERAS индивидуальные сведения о себе (паспортные данные) и производящий 
				покупки  через <strong>Онлайн-гипермаркет QWERAS.</strong></span></p>
				<p><span> <strong>Промоутер </strong> – организация,  использующая на договорной основе комплекс исключительных прав на Бонусную программу «Доходная покупка» системы QWERAS и 
				осуществляющая рекламно-маркетинговую деятельность. Промоутер осуществляет 
				оперативную деятельность по выдаче и зачету Участникам бонусных программ 
				(покупателям) исчисленных сумм Кверов.</strong></span></p>

				<p><span><strong>Квер </strong> – единица измерения бонусных баллов из расчета 1 Квер= 1рубль.</span></p>
				<p><span><strong>Учетно-вычислительный центр QWERAS </strong> – автоматизированный комплекс на базе 
				программного продукта <strong>Онлайн-гипермаркета QWERAS,</strong> производящий учет покупок в 
				каталоге, участников бонусных программ, а также расчетно-вычислительные мероприятия 
				по определению размеров бонусных выплат.</span></p>

				<p><span>;<strong>Каталог QWERAS </strong> – совокупность товарных предложений различных Ритейлеров, 
				размещенная на Онлайн-торговых площадях системы QWERAS.</span></p>
				<p><span><strong>Магазин (Ритейлер) </strong> – организация или индивидуальный предприниматель, 
				осуществляющий торговую деятельность и разместивший свои товарные предложения в 
				 <strong>Каталоге Онлайн-гипермаркета QWERAS.</strong></span></p> 
        	
        	</div>
        	</div>
        <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-4"></div>
         <div class="col-xs-4" style="text-align: justify;">
             <div class="clearfix"><br></div> 
           <p><strong>2. Предмет договора:</strong></p>
            <div class="clearfix"><br></div>
            </div>
            <div class="col-xs-4"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
      <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
                <p><span><strong>Промоутер,</strong> осуществляя на договорной основе деятельность по рекламе и продвижению товаров <strong>Магазина (Ритейлера) </strong>через <strong>Онлайн-гипермаркет QWERAS </strong>и имея право (Лицензию) на осуществление оперативной деятельности в рамках бонусной программы "Доходная покупка", осуществляет выплаты и зачеты Кверов <strong>Участника, </strong> исчисленных <strong>Учетно-вычислительным центром QWERAS </strong> согласно <strong><span  style="color: red"> Правилам бонусной программы "Доходная покупка".</span></strong> </span></p>
    
            </div>
        </div>
        <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-4"></div>
         <div class="col-xs-4" style="text-align: justify;">
              <div class="clearfix"><br></div>
           <p><strong>3. Порядок заключения договора:</strong></p>
            <div class="clearfix"><br></div>
            </div>
            <div class="col-xs-4"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
       <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
                <p><span>Договор, включая все приложения к нему (Согласие на использование персональных данных, Правила начисления Кверов) считается заключенным после акцепта <strong>Участника,</strong> произведенного путем нажатия интерактивной клавиши "Согласие", расположенной непосредственно под текстом настоящей Оферты.</span></p>
                <p><span>Договор считается заключенным в письменной форме после выражения Согласия вышеуказанным способом (ч. 3 ст. 434 ГК РФ). При этом Участник своим согласием подтверждает то, что он ознакомился с полным текстом Оферты, в том числе с Приложениями к Договору.</span></p>
            </div>
        </div>
    <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-4"></div>
         <div class="col-xs-4" style="text-align: justify;">
            <div class="clearfix"><br></div> 
           <p><strong>4. Права и обязанности сторон:</strong></p>
           <div class="clearfix"><br></div>
            </div>
            <div class="col-xs-4"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
    <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
                <p><span><strong>     Промоутер обязуется:</strong></span></p>
                 <p><span>- обеспечить сохранность персональных данных Участника программы;</span></p>
                 <p><span>- использовать персональные данные Участника, в том числе паспортные данные, Логин, номер телефона, номер банковской карты и адрес электронной почты исключительно в пределах идентификации пользователя, отображения текущего состояния бонусных программ и исполнения обязанностей Промоутера как налогового агента Участника, связанных с исчислением, удержанием и уплатой НДФЛ в бюджет РФ. </span></p>
                    <p><span><strong>   Промоутер имеет право:</strong></span></p>
                    <p><span>- после истечения одного года с момента начисления суммы Кверов аннулировать данную сумму в случае, если Участник не сообщил в течение этого срока о своем намерении в отношении этой суммы получить ее рублевый эквивалент или зачесть ее в счет будущих покупок. </span></p>
                    <p><span><strong> Участник программы имеет право:</strong></span></p>
                     <p><span>- зачесть накопленные Кверы при совершении последующих покупок в Гипермаркете <strong>Qweras.</strong> При этом минимальная стоимость покупки, подлежащая оплате покупателем, должна составлять не менее 10 % от ее заявленной стоимости.</span></p>
                    <p><span>- получить денежный эквивалент накопленных Кверов. При этом в соответствиии с п.2 ст. 224 НК РФ из суммы к выплате будет удержан НДФЛ по ставке 35% в целях перечисления бюджетную систему РФ;</span></p>
                     <p><span>- получать информацию о состоянии своего лицевого счета в Кверах, в том числе в виде электронных выписок;</span></p>
                     <p><span>- получать информацию о своих предыдущих покупках в Онлайн-гипермаркете QWERAS (историю покупок);</span></p>
                     <p><span>- получать информацию о месте других Участников в рейтинге Программы.</span></p>
                     <p><span><strong> Участник обязуется:</strong></span></p>
                    <p><span>- своевременно представлять Промоутеру уведомления и заявления, предусмотренные настоящим договором при отказе от участия в программе, изменениях персональных данных и прочих обстоятельствах, могущих повлиять на исполнение настоящего Договора;</span></p>
                     <p><span>- не предъявлять претензий по аннулированным по истечении срока использования (один год с момента начисления) суммам Кверов, если таковые не были истребованы к выплате или зачету в указанный срок. </span></p>
            </div>
        </div>

    <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-3"></div>
         <div class="col-xs-6" style="text-align: justify;">
            <div class="clearfix"><br></div> 
           <p><strong>5. Срок действия и порядок расторжения Договора.</strong></p>
           <div class="clearfix"><br></div>
            </div>
            <div class="col-xs-3"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
       <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
                <p><span>Настоящий договор действует бессрочно. Промоутер может изменить условия договора в одностороннем порядке, если изменения соответствуют действующему на момент изменений законодательству РФ.  </span></p>
    
            </div>
        </div>
         <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-4"></div>
         <div class="col-xs-4" style="text-align: justify;">
             <div class="clearfix"><br></div>  
           <p><strong>6. Порядок начисления бонусов.</strong></p>
            <div class="clearfix"><br></div> 
            </div>
            <div class="col-xs-4"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
       <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
                <p><span>Бонусные Баллы (Кверы) по программе «Доходная покупка» исчисляются согласно <strong>Правилам начисления Кверов,</strong> являющимся неотъемлемым приложением к настоящему договору.</p></span><p><span> Бонусные баллы (Кверы) начисляются по результатам произведенных покупок ежедневно и ежемесячно после закрытия суток и календарного месяца согласно 
                <span style="color: red"><strong> Правилам бонусной программы «Доходная покупка».</strong></span>
       
    
            </div>
        </div>
        <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-3"></div>
         <div class="col-xs-7" style="text-align: justify;">
             <div class="clearfix"><br></div> 
           <p><strong>7. Порядок осуществления выплат и зачетов накопленных Кверов.</strong></p>
           <div class="clearfix"><br></div> 
            </div>
            <div class="col-xs-2"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
      <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
                <p><span>- при желании использовать Кверы <strong>Участник</strong> уведомляет <strong>Промоутера</strong> о своем решении получить рублевый эквивалент или зачесть начисленные Кверы путем нажатия соответствующих интерактивных кнопок в системе QWERAS. </span></p>
                 <p><span>- при зачете в счет будущих покупок сумма Кверов может быть зачтена при покупке любых товаров любого Магазина (Ритейлера), сотрудничающего с Промоутером в рамках  <strong>Онлайн-гипермаркета QWERAS;</strong></span></p>
                <p><span> - получении рублевого эквивалента Кверов денежные средства пречисляются с расчетного счета Промоутера на банковскую карту Участника в течение не более 5 рабочих дней с момента получения уведомления о решении использовать Кверы от Участника. </span></p>
    
            </div>
        </div>
        <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-3"></div>
         <div class="col-xs-7" style="text-align: justify;">
             <div class="clearfix"><br></div>  
           <p><strong>8. Порядок получения электронных выписок и истории покупок.</strong></p>
            <div class="clearfix"><br></div> 
            </div>
            <div class="col-xs-2"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
<div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
                <p><span>Участник получает выписки и историю покупок посредством введения личного пароля для доступа в личный кабинет и выполнения стандартного алгоритма действий в  системе  <strong> Учетно-вычислительного центра QWERAS. </strong></span></p>
                <p><span>Участник вправе получать выписки и историю покупок за предыдущий период, не превышающий одного года с момента запроса на выписку.  </span></p>
                <p><span>Выписки предоставляются в электронной форме и имеют версию для печати.
                </span></p>
    
            </div>
        </div>
             <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-4"></div>
         <div class="col-xs-5" style="text-align: justify;">
             <div class="clearfix"><br></div> 
           <p><strong>9.Ответственность и гарантии сторон.</strong></p>
            <div class="clearfix"><br></div>
            </div>
            <div class="col-xs-3"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
     <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
                <p><span>Промоутер несет ответственность за сохранность и целевое использование персональных данных Участника в соответствии с законодательством РФ.  </span></p>
                <p><span>Стороны обязуются выполнять условия настоящего договора. Все возникающие разногласия решаются путем выставления и обработки претензий, а при невозможности разрешения в досудебном порядке, в суде РФ.</span></p>
                <p><span>Стороны не несут ответственности за полное или частичное неисполнение любых своих обязательств по настоящему Договору вследствие возникновения каких-либо обстоятельств непреодолимой силы, включая пожары, наводнения и другие стихийные бедствия, военные действия, государственные перевороты, забастовки и/или какие-либо другие обстоятельства, которые возникли после подписания настоящего Договора. 
            </span></p>
                
            </div>
        </div>
         <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-4"></div>
         <div class="col-xs-5" style="text-align: justify;">
               <div class="clearfix"><br></div>
           <p><strong>11. Порядок внесения изменения в Договор.</strong></p> <!-- TODO propuschen 10 -->
             <div class="clearfix"><br></div>
            </div>
            <div class="col-xs-3"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
      <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
                <p><span> Внесение изменений и дополнений в Договор (Оферту), Приложения (в том числе Согласие на использование персональных данных, Правила начисления Кверов) производится Промоутером в одностороннем порядке. При этом Промоутер обязан публично (через сайт системы QWERAS)  уведомить Участников о намерении внести изменения (дополнения) не позднее, чем за 7 календарных дней до вступления в силу вышеуказанных изменений.</span></p>
    
            </div>
        </div>
        <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-4"></div>
         <div class="col-xs-4" style="text-align: justify;">
              <div class="clearfix"><br></div>
           <p><strong>12. Расторжение договора.</strong></p>
            <div class="clearfix"><br></div>
            </div>
            <div class="col-xs-4"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
     <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
            <p><span><strong>Участник </strong> вправе в одностороннем порядке отказаться от продолжения своего участия в программе «Доходная покупка», уведомив об этом исполнителя в письменном виде. </span></p>
            <p><span>В случае отказа от дальнейшего участия в программе <strong>Участник</strong> обязан представить <strong>Промоутеру</strong> письменное <strong>Заявление</strong> (посредством электронной или обычной почты), в котором указано, каким образом 
            <strong>Участник </strong>намерен использовать Кверы, начисленные Участнику до расторжения Договора (Зачет в счет будущих покупок или Перевод денежного эквивалента). Договор считается расторгнутым с момента получения Промоутером письменного <strong>Заявления</strong>. Кверы Участника, не выразившего в установленном данным Договором порядке намерение зачесть их либо получить денежный эквивалент, аннулируются с момента расторжения Договора. </span></p>

              <p><span>Промоутер имеет право расторгнуть договор в одностороннем порядке без объяснения причин. При расторжении договора Промоутер обязуется выплатить или зачесть Участнику все накопленные на момент расторжения договора суммы Кверов.</span></p>
              <p><span>Промоутер уведомляет о расторжении договоров всех Участников, путем размещения публичного заявления на странице "Правовые документы" <strong>Онлайн-гипермаркета QWERAS</strong>, если расторжение связано с прекращением работы программы "Доходная покупка" или другими причинами, при которых последует расторжение договоров со всеми участниками.</span></p> 
               <p><span>При расторжении договора с отдельным <strong>Участником Промоутер</strong> уведомляет его путем передачи SMS сообщения не менее чем за 3 календарных дня до расторжения Договора.</span></p>
            
            </div>
        </div>
           <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-4"></div>
         <div class="col-xs-4" style="text-align: justify;">
              <div class="clearfix"><br></div>
           <p><strong>13. Заключительные положения.</strong></p>
            <div class="clearfix"><br></div>
            </div>
            <div class="col-xs-4"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
       <div class="row">
          <div class="col-xs-2"></div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
                <p><span>Настоящий договор действует на территории Российской Федерации.  Настоящий договор считается публичным, его Оферта адресована широкому кругу лиц. После выражения согласия (Акцепта) договор считается заключенным в письменной форме.</span></p>
    
            </div>
        </div>
           <div class="row">
        <div class="col-xs-2"></div>
         <div class="col-xs-8" style="text-align: justify;">
         <div class="col-xs-4"></div>
         <div class="col-xs-5" style="text-align: justify;">
             
           <p><strong>14. Реквизиты сторон.</strong></p>
            </div>
            <div class="col-xs-3"></div>
         </div> 
         <div class="col-xs-2"></div>
     </div> 
       <div class="row">
          <div class="col-xs-2">
            

          </div>
          <div class="col-xs-8" style="text-align: justify;">
             <!--style="color: red;"-->
                <p><strong>Промоутер:</strong></p>
                 <div class="clearfix"><br></div>
                <p>ООО «………………..»</p>
                <p>ОГРН, ИНН, </p>
                <p>Адрес:</p>
                <p>Банковские реквизиты:</p>
    
            </div>
             <div class="col-xs-2"></div>
        </div>
        <div class="row">
<div class="col-xs-4"></div>
<div class="col-xs-4" style="text-align: center;">
    <div class="clearfix"><br></div>
    <strong><p  style="line-height: 5px">Приложение № 1</p> <p>к Договору об участии в бонусной программе </p> <p>«ДОХОДНАЯ ПОКУПКА».</p> <p><span style="color: red">Правила начисления Кверов.</span></p></strong>
    <p>В разработке.</p>
    <div class="clearfix"><br></div>
 </div>
 <div class="col-xs-4"></div>
 </div>
        <div class="row">
<div class="col-xs-4"></div>
<div class="col-xs-4" style="text-align: center;">
    <div class="clearfix"><br></div>
    <strong><p  style="line-height: 5px">Приложение № 2</p> <p>к Договору об участии в бонусной программе </p> <p>«ДОХОДНАЯ ПОКУПКА».</p> <p><span style="color: red">Соглашение об использовании персональных данных Участника </span></p></strong>
    <p>В разработке.</p>
    <div class="clearfix"><br></div>
 </div>
 <div class="col-xs-4"></div>
 </div>

