<h3>Мои категории</h3>
<div>
	<ul class="all-categories-header">
		<li class="category-item">
			<div class="row">
				<div class="td category-name text-left col-xs-3"><b>Название</b></div>
				<div class="td category-parameters text-center col-xs-6"><b>Характеристики</b></div>
				<div class="td category-action text-center col-xs-2"><b>Действие</b></div>		
			</div>			
		</li>
	</ul>
</div>
<div class="js-container"></div>
<button class="btn btn-primary js-add-category">Добавить категорию</button>