<div class="row">
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li><strong>Покупателям</strong></li>
            <br/>
            <li class="small"><a href="#page/howtobuy">Как совершить покупку</a></li>
            <li class="small"><a href="#page/delivery">Доставка</a></li>
            <li class="small"><a href="#page/goodsyourprice">Товар по вашей цене</a></li>
            <li class="small"><a href="#page/makeapurchase">Как заработать на покупках</a></li>
            <li class="small"><a href="#page/referralprogram">Реферальная программа</a></li>
            <li class="small"><a href="#page">Публичная оферта</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li><strong>Продавцам</strong></li>
            <br/>
            <li class="small"><a href="#page/termspartnership">Условия сотрудничества</a></li>
            <li class="small"><a href="#page">Образцы документов</a></li>
            <li class="small"><a href="#page/additionalearnings">Дополнительный заработок</a></li>
            <!--li class="small"><a href="#page/rankingsystem">Дополнительные сервисы</a></li>-->
            <li class="small"><a href="#page/regulationtransaction">Регламент проведения сделки</a></li>
            <li class="small"><a href="#page/rankingsystem">Положение о рейтинговой системе продавцов</a></li>
            
        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li><strong>О компании</strong></li>
            <br/>
            <li class="small"><a href="#page/howitwork">Как работает система</a></li>
            <li class="small"><a href="#page/feedback">Отзывы</a></li>
            <li class="small"><a href="#page/contact">Контактная информация</a></li>
        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li>
                <span class="fa fa-2x fa-twitter"> </span>
                <span class="fa fa-2x fa-facebook"> </span>
                <span class="fa fa-2x fa-vk"> </span>
            </li>
            <br/>
            <li>
                <button class="btn btn-default">Задать вопрос</button>
            </li>
        </ul>
    </div>


</div>

<hr style="border-top: 1px solid #666666; margin: 8px 0;"/>

<div class="row">
    <div class="col-sm-12 small">
        <ul class="list-inline">
            <li>Qweras</li>
            <li>55 151 142 предложения от 15 069 магазинов</li>
        </ul>
    </div>
</div>

