<div class="clearfix">
	<div id="logo-region" class="col-xs-3">
		<a href="#home" title="">
			<img src="img/logo-9.jpg" height="100px">
		</a>
	</div>

	<div class="col-xs-9">
		<div class="row">
			<div id="contacts-region" class="pull-right">
			</div>
		</div>
		<div class="row">
			<ul class="list-inline pull-right user-action">
				<li id="logout-btn-region">
					<a href="#home"  id="logout-button" class="btn-link" >
						<span class="glyphicon glyphicon-log-out"></span>
						Выйти
					</a>
				</li>
			</ul>
		</div>	
	</div>
</div>


<div class="sellers-manager-header-wrapper text-center">
	<h3 class="greeting">Здравствуйте, менеджер продавцов</h3>
	<div class="btn-group manager-menu" role="group">
		<a href="#home" type="button" class="btn btn-default to-sellers">Мои продавцы</a>
		<a href="#messages" type="button" class="btn btn-default to-messages">Мои сообщения</a>
	</div>
</div>
