<div class="col-xs-3"><a class="js-profile"><%- name %></a></div>
<div class="col-xs-3"><%- manager %></div>
<div class="col-xs-1 text-center"><%- rate %></div>
<div class="col-xs-2 text-center"><%- balance %></div>
<div class="col-xs-2 text-center"><%- turnover %></div>
<div class="col-xs-1 text-center">
	<span data-id="<%- id %>" class="js-action-btn action-btn glyphicon glyphicon-earphone js-call-manager" title="Связаться"></span>
	<span data-id="<%- id %>" class="js-action-btn action-btn glyphicon <%- (active ? 'glyphicon-eye-open js-active' : 'glyphicon-eye-close') %> js-switch-active " title="<%- (active ? 'Выключить' : 'Включить') %>"></span>
</div>
