<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">	      	
			<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
			<h4 class="modal-title">Профиль магазина</h4>        
		</div>
		<div class="modal-body shop-profile">
			<div class="row">
				<label class="col-xs-6">Наименование юридического лица (краткое):</label>
				<div class="col-xs-6"><%- shortName %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">Наименование юридического лица (полное):</label>
				<div class="col-xs-6"><%- longName %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">ООО:</label>
				<div class="col-xs-6"><%- form %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">ИНН:</label>
				<div class="col-xs-6"><%- itn %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">КПП:</label>
				<div class="col-xs-6"><%- trc %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">ОГРН:</label>
				<div class="col-xs-6"><%- psrn %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">Р/С:</label>
				<div class="col-xs-6"><%- chckAccount %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">КОРРСЧЕТ:</label>
				<div class="col-xs-6"><%- corrAccount %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">БИК:</label>
				<div class="col-xs-6"><%- bic %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">Название банка:</label>
				<div class="col-xs-6"><%- bank %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">Юридический адрес:</label>
				<div class="col-xs-6"><%- legalAddress %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">Почтовый адрес:</label>
				<div class="col-xs-6"><%- postalAddress %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">Телефон:</label>
				<div class="col-xs-6"><%- phone %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">Генеральный директор:</label>
				<div class="col-xs-6"><%- generalManager %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">Контакное лицо:</label>
				<div class="col-xs-6"><%- chiefAccountant %></div>
			</div>
			<div class="row">
				<label class="col-xs-6">Телефон контактного лица:</label>
				<div class="col-xs-6"><%- contactPhone %></div>
			</div>
			<div class="to-close js-ok text-right">
				<button class="btn btn-primary">OK</button>
			</div>
		</div>
	</div>
</div>
	