<div class="row">
    <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
        <h3 class="">Изменение регистрационных данных</h3>
        <div class="form-horizontal" id="trader-profile-div">
            <form id="trader-profile-form" class="form-horizontal"></form>
        </div>
    </div>
    <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
        <h3 class="">Данные о регистрации</h3>
        <p>
            Дата регистрации <%- registrationDate %>
        </p>
        <span class="<% if (ENV=='prod') print('hidden')%>">
        <h3 class="">Контрагент</h3>
        <p>
            Общество с ограниченной ответственностью «Шишел Вышел»<br>
            ИНН 1837011542<br>
            КПП 183701002<br>
            ОГРН 1131837000825 от 27.06.2013г.<br>
            Адрес юридический, фактический, и для отправки корреспонденции: 777999, УР, г.Запруднев, ул.Сибирская, д.81;<br>
            тел./факс (341-48) 5-02-11;<br>
            e-mail: 1234567890@mail.ru<br>
            р/с 40702810509000002191<br>
            к/с 30101810900000000872<br>
            БИК 049401871 в АКБ «Ижкомбанк» (ОАО) г.Ижевск<br>
            ОКАТО 94420000000<br>
            ОКВЭД 15.81<br>
            ОКПО 24479970<br>
            Директор Финауретов Иван Никифорович, действующая на основании Устава.
        </p>
        </span>
    </div>
</div>


