<div id="buyer-address" class="buyer buyer--address">
    <div class="btn-group pull-left" role="group" aria-label="">
        <div id="btn-address-add" class="btn btn-primary btn-xs">Добавить</div>
        <div id="btn-address-remove" class="btn btn-primary btn-xs">Удалить</div>
    </div>

    <div class="clearfix">

    </div>

    <div id="buyer-address-list" class="buyer__list buyer__list--address">

    </div>

    <div id="actions" class="buyer__actions buyer__actions--address">

    </div>
</div>
