<form class="form-horizontal">
    <% if(id){ %>
    <input type="hidden" name="id" value="<%- id %>">
    <% } %>
    <div class="form-group">
        <label for="name" class="col-sm-3 control-label">
            Название адреса
        </label>
        <div class="col-sm-6">
            <input name="name" type="text" class="form-control" value="<%-name%>" id="name">
        </div>
    </div>

    <div class="form-group">
        <label for="data" class="col-sm-3 control-label">
            Адрес
        </label>
        <div class="col-sm-6">
            <textarea name="data" class="form-control" id="data"><%-data%></textarea>
        </div>
    </div>

    <div class="form-group">
        <label for="region" class="col-sm-3 control-label">
            Регион
        </label>
        <div class="col-sm-6">
            <select name="region" type="text" class="form-control" id="region">
                <% _.each(regionData, function(value){
                %>
                    <option <%= (value.id==region)? 'selected': '' %> value="<%- value.id %>"><%- value.name %></option>
                <%

                }) %>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label for="deflt" class="col-sm-3 control-label">
            Основной адрес
        </label>
        <div class="col-sm-6">
            <input type="checkbox"  value="" name="deflt" id="deflt" <%= deflt? 'checked': '' %>>
        </div>

    </div>

</form>