<div class="modal-dialog modal-md">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h3 class="modal-title">Адрес доставки</h3>
        </div>
        <div class="modal-body" id="buyer-shipping">

        </div>

        <div class="modal-footer">

            <button type="button" id="modal-btn-no" class="btn btn-primary no">Сохранить</button>

        </div>
    </div>
</div>