<div id="trader-view">


    <ul class="nav btn-group">
        <li class="btn btn-default">
            <a data-target="#shop-prods-view" href="#trader/offers">Ассортимент</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#shop-orders-view" href="#trader/orders">Заказы</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#shop-bids-view" href="#trader/bids">Заявки</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#shop-site-view" href="#trader/site">Визитка</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#shop-profile-view" href="#trader/profile">Регистрационные данные</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#shop-payments-view" href="#trader/payment">Взаиморасчеты</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#shop-payments-view" href="#trader/reports">Отчёты</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#shop-messages-view" href="#trader/messages">Сообщения</a>
        </li>
    </ul>


    <div class="clearfix">
        <br>
        <br>
    </div>

    <div id="region-main"></div>

</div>