<h3>Добавление товара</h3>
<form role="form" class="form-gorizontal good-name-form">
	<div class="form-group clearfix">
		<label for="js-good-name" class="col-sm-2 control-label">Название товара</label>
	    <div class="col-sm-10">
			<input disabled type="text" class="form-control" value="<%= name %>" required >
	    </div>
	</div>
</form>
<div class="js-current-category current-category"></div>
<form role="form" class="form-gorizontal new-good-form-chars-second">
	<div class="form-group clearfix">
		<div class="col-sm-12 text-right">
			<button class="btn btn-primary js-back">Отменить</button>
			<button class="btn btn-primary js-save">Сохранить</button>
	    </div>
	</div>	
</form>