    <div class="modal-dialog">
        <form name="changePasswordForm" id="changePasswordForm" class="form-horizontal modal-content" data-toggle="validator">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Изменение пароля</h4>
            </div>
            <div class="modal-body">
                <div id="responseMessage"></div>
                <div class="form-group">
                    <label for="inputPassword" class="col-sm-4 control-label">Старый пароль</label>
                    <div class="col-sm-8">
                        <input type="password" required class="form-control" name="password" id="inputPassword" placeholder="Старый пароль">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputNewPassword" class="col-sm-4 control-label">Новый пароль</label>
                    <div class="col-sm-6">
                        <input type="password" required class="form-control" name="nepassword" id="inputNewPassword" placeholder="Пароль">
                    </div>
                    <div class="col-sm-2">
                        <i id="newPassIcon" class="fa fa-2x text-center"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputReNewPassword" class="col-sm-4 control-label">Повторите новый пароль</label>
                    <div class="col-sm-6">
                        <input type="password" required class="form-control" name="renewpassword" id="inputReNewPassword" placeholder="Повтор пароль">
                    </div>
                    <div class="col-sm-2">
                        <i id="newRePassIcon"class="fa fa-2x text-center"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-8">
                        <span id="newPassCorrect"></span>
                    </div>
                </div>


            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                <button type="button" class="btn btn-primary" id="chgPassOkButton">OK</button>
            </div>

        </div>
        </form>
    </div>

