<div id="actions-bulk" class="dropdown pull-left">
    <button id="bulk-action" class="btn btn-primary" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Групповые действия
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="bulk-action">
        <li role="presentation"><a class="" role="menuitem"
                                   tabindex="-1" href="#"><span class="glyphicon glyphicon-trash"></span> Удалить</a></li>
    </ul>
</div>