<h3>Редактирование товара</h3>
<form data-toggle="validator" role="form" class="form-gorizontal good-form js-good-form">
	<div class="form-group clearfix">
		<label for="js-good-name" class="col-sm-2 control-label">Название товара</label>
	    <div class="col-sm-10">
			<input type="text" class="form-control js-field" id="js-good-name" name="name" placeholder="Введите название" value="<%- name %>" required >
			<div class="help-block with-errors"></div>
	    </div>
	</div>
	<div class="form-group clearfix">
		<label for="js-good-name" class="col-sm-2 control-label">Категория</label>
	    <div class="col-sm-10">
			<h4 class="js-category-name"><%- categoryName %></h4>
	    </div>
	</div>
	<div class="form-group clearfix">
		<label for="js-barcode" class="col-sm-2 control-label">Штрих-код</label>
	    <div class="col-sm-10">
			<input type="text" class="form-control js-field" id="js-good-barcode" name="barcode" placeholder="Введите штрих-код" value="<%- barCode %>" required >
			<div class="help-block with-errors"></div>
	    </div>
	</div>
	<div class="form-group clearfix">
		<label for="js-good-description" class="col-sm-2 control-label">Описание товара</label>
	    <div class="col-sm-10">
			<textarea name="description" class="form-control js-field" id="js-good-description" required ><%- description %></textarea>
			<div class="help-block with-errors"></div>
	    </div>
	</div>
	<div class="form-group clearfix">
		<label class="col-sm-2 control-label">Изображения товара</label>
	    <div class="col-sm-10">
	    	<button class="btn btn-primary form-control add-img" id="js-add-img">
	    		Выберите файл
				<input type="file" class="form-control" name="data">
	    	</button>			
			<div class="img-container">
				<% for (var i = 0; i < media.length; ++i) { %>
				<div class="img-wrapper js-img-wrapper" style="background-image: url(rest/v0/product/img/<%- media[i] %>);">
					<span class="delete-img js-delete-img" data-media="<%- media[i] %>">x</span>
				</div>	
				<% } %>
			</div>
	    </div>
	</div>
	<h4 class="chars-form-header">Характеристики</h4>
	<div class="js-chars-container"></div>
	<div class="form-group clearfix add-chars-block">
		<div class="col-sm-6">
			<button class="btn btn-primary js-add-chars">Добавить характеристики</button>
	    </div>
	</div>
	<div class="form-group clearfix">
		<div class="col-sm-12 text-right buttons-block">
			<button class="btn btn-primary js-back">Отменить</button>
			<button class="btn btn-primary js-save">Сохранить</button>
	    </div>
	</div>
</form>

	<div class="modal" id="js-categories-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">	      	
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>	
	        <h4 class="modal-title">Выберите категорию</h4>        
	      </div>
	      <div class="modal-body">
	      	<div class="search-category-block">
	      		<h4>Поиск категории</h4>
				<input class="form-control js-search-category" >				
	      	</div>	      	
	      	<div id="js-categories-list" class="new-good-categories-list"></div>
	      </div>
	      <div class="modal-footer"></div>
	    </div>
	  </div>
	</div>