<div class="col-xs-12 col-sm-12  col-lg-12 visible-xs-block">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <p class="navbar-brand">Qweras</p>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav list-unstyled">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Покупателям <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#page/howtosearch">Как искать товар</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#page/howtobuy">Как совершить покупку</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#page/delivery">Доставка</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#page/goodsyourprice">Товар по вашей цене</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#page/makeapurchase-lp">Как заработать на покупках</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#page/makeapurchase">Как работают бонусные программы</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#page/terms-of-bonus-programs">Правила бонусных программ</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#page/referralprogram">Реферальная система</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#page/terms-of-use">Пользовательское соглашение</a></li>

                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">Продавцам <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#page/appeal-to-businesses">Обращение к предпринимателям</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/business-opportunities-with-QWERAS">Возможности бизнеса с QWERAS</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/basic-conditions-of-work-in-the-online-sellers-hypermarket-QWERAS">Базовые условия работы продавцов</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/agreement-on-cooperation">Пользовательское соглашение с продавцами</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/agency_agreement_for_the_implementation_of_bonus_programs">Агентский договор на реализацию бонусных программ</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/regulationtransaction">Регламент проведения сделки</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/rankingsystem">Положение о рейтинговой системе продавцов</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">О проекте QWERAS <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#page/participant-roles-QWERAS">Роли участников QWERAS</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/samples-of-documents">Образцы документов</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/contact">Контакты</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/jobs">Вакансии</a></li>
                            <li role="separator" class="divider"></li>

                            <li><a href="#page/union-gs1">Членам ассициации ГС1/РУС ЮНИСКАН</a></li>

                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a target="_blank" href="https://twitter.com/QWERAS_ru"><span class="fa fa-2x fa-twitter"> </span></a>
                        <a target="_blank" href="https://www.facebook.com/qweras.ru"><span class="fa fa-2x fa-facebook"> </span></a>
                        <a target="_blank" href="https://vk.com/qweras_ru"><span class="fa fa-2x fa-vk"> </span></a>
                    </li>
                    <br/>
                    <li>
                        <button class="btn btn-default" id="feedbackbtn">Задать вопрос</button>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
    <div class="col-sm-12 small">
        <ul class="list-inline">
            <li>Qweras</li>
            <li>55 151 142 предложения от 15 069 магазинов</li>
        </ul>
    </div>
</div>
<div class="row visible-lg-block visible-sm-block">
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li><strong>Покупателям</strong></li>
            <br/>
                <li class="small"><a href="#page/howtosearch">Как искать товар</a></li>
                <li class="small"><a href="#page/howtobuy">Как совершить покупку</a></li>
                <li class="small"><a href="#page/delivery">Доставка</a></li>
                <li class="small"><a href="#page/goodsyourprice">Товар по вашей цене</a></li>
                <li class="small"><a href="#page/makeapurchase-lp">Как заработать на покупках</a></li>
                <li class="small"><a href="#page/makeapurchase">Как работают бонусные программы</a></li>
                <li class="small"><a href="#page/terms-of-bonus-programs">Правила бонусных программ</a></li>
                <li class="small"><a href="#page/referralprogram">Реферальная система</a></li>
                <li class="small"><a href="#page/terms-of-use">Пользовательское соглашение</a></li>


        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-unstyled">
            <li><strong>Продавцам</strong></li>
            <br/>
            <li class="small"><a href="#page/appeal-to-businesses">Обращение к предпринимателям</a></li>
            <li class="small"><a href="#page/business-opportunities-with-QWERAS">Возможности бизнеса с QWERAS</a></li>
            <li class="small"><a href="#page/basic-conditions-of-work-in-the-online-sellers-hypermarket-QWERAS">Базовые условия работы продавцов</a></li>
            <!--li class="small"><a href="#page/sales-without-the-legal-entity-or-entrepreneur">Продажи без юридического
                лица или ИП</a></li>-->
            <li class="small"><a href="#page/agreement-on-cooperation">Пользовательское соглашение с продавцами</a></li>
            <li class="small"><a href="#page/agency_agreement_for_the_implementation_of_bonus_programs">Агентский договор на реализацию бонусных программ</a></li>
            <li class="small"><a href="#page/regulationtransaction">Регламент проведения сделки</a></li>
            <li class="small"><a href="#page/rankingsystem">Положение о рейтинговой системе продавцов</a></li>
            
        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-unstyled">
           <li><strong>О проекте QWERAS</strong></li>
            <br/>
            <li class="small"><a href="#page/participant-roles-QWERAS">Роли участников QWERAS</a></li>
            <li class="small"><a href="#page/samples-of-documents">Образцы документов</a></li>
            <li class="small"><a href="#page/contact">Контакты</a></li>
            <li class="small"><a href="#page/jobs">Вакансии</a></li>
            <li class="small"><a href="#page/union-gs1">Членам ассициации ГС1/РУС ЮНИСКАН</a></li>
                      
        </ul>
    </div>
    <div class="col-sm-3">
        <ul class="list-unstyled">
			<li>
				<a target="_blank" href="https://twitter.com/QWERAS_ru"><span class="fa fa-2x fa-twitter"> </span></a>
				<a target="_blank" href="https://www.facebook.com/qweras.ru"><span class="fa fa-2x fa-facebook"> </span></a>
				<a target="_blank" href="https://vk.com/qweras_ru"><span class="fa fa-2x fa-vk"> </span></a>
            </li>
            <br/>
            <li>
                <button class="btn btn-default" id="feedbackbtn">Задать вопрос</button>
            </li>
        </ul>
    </div>


</div>

<hr style="border-top: 1px solid #666666; margin: 8px 0;" class="visible-lg-block visible-sm-block"/>

<div class="row visible-lg-block visible-sm-block">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 small">
        © <%- qsyear %>  Онлайн – гипермаркет QWERAS.
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right small">
        Размещено <%- offers %> <%- strOffers %> от <%- shops %> <%- strShops %> в <%- products %> <%- strProducts %>.
    </div>
</div>


<% if(ENV == 'prod') {%>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-21628693-28', 'auto');
    ga('require', 'displayfeatures');
    ga('require', 'linkid', 'linkid.js');
    ga('send', 'pageview');

</script>


<script type="text/javascript">(window.Image ? (new Image()) : document.createElement('img')).src = location.protocol + '//vk.com/rtrg?r=t/eC45zD7KYzyBD2GqWgkRjrB8xQBiNVXKb67TUP6PKznIYSI343ojKOFMuVSMvulUpT/3LSuauUxA4b5RLlsoGealmbhp0xUsnGqe3PuVnUCKubDcDyJ3WlxkNekjBSJCSobqjJ5BW*YDDaQECw4viKCB/qiewSRa0QEZdSYP0-';</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter31753141 = new Ya.Metrika({
                    id:31753141,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true,
                    webvisor:true,
                    trackHash:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/31753141" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<!-- Rating@Mail.ru counter -->
<script type="text/javascript">
    var _tmr = _tmr || [];
    _tmr.push({id: "2138610", type: "pageView", start: (new Date()).getTime()});
    (function (d, w, id) {
        if (d.getElementById(id)) return;
        var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true; ts.id = id;
        ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
        var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
        if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
    })(document, window, "topmailru-code");
</script><noscript><div style="position:absolute;left:-10000px;">
    <img src="//top-fwz1.mail.ru/counter?id=2138610;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->


<% } %>


