<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

<div id="logo-region" class="col-xs-3 col-sm-1"></div>
<div id="logo-region" class="col-xs-12 visible-xs"></div>
    <div class="col-xs-12 col-sm-11  col-lg-11">
        <div class="row">
            <div id="contacts-region" class="pull-right"></div>
        </div>
        <div class="row">
            <div class="col-xs-9  col-sm-2 ">
            </div>
            <div class="col-xs-3  col-sm-10 col-lg-12">
                <ul class="list-inline pull-right user-action ">
                    <li id="logged-state-region" class="dropdown">
                    </li>
                    <li id="logged-state-info-region">
                    </li>
                    <li id="logout-btn-region">
                    </li>
                    <li id="cart-region">
                    </li>
                </ul>
            </div>
        </div>
</div>




</div>
