<div class="input-group">
    <span class="input-group-btn">
        <a href="#catalog" type="button" id="do-categories" class="btn btn-link" aria-expanded="false">
            Все категории
        </a>
        <ul id="category-list" class="dropdown-menu" role="menu" aria-labelledby="do-categories">
        </ul>
    </span>
    <div class="search-input-wrapper">
        <input id="q-search" type="text" class="form-control" placeholder="Введите наименование товара, штрих-код товара">
        <a style="display: none" class="clear-btn glyphicon glyphicon-remove js-clear-btn" title="Очистить"></a>
    </div>
    <span class="input-group-btn">
        <button type="button" id="do-search" class="btn btn-primary">Найти</button>
    </span>
</div>
