<div id="buyer-view">
    <ul class="nav btn-group">
        <li class="btn btn-default">
            <a data-target="#buyer-orders-view" href="#buyer/orders">Заказы</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#buyer-bids-view" href="#buyer/bids">Заявки</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#buyer-profile-view" href="#buyer/profile">Мои данные</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#buyer-address-view" href="#buyer/address">Адреса доставки</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#buyer-bonus-view" href="#buyer/bonus">Мои бонусы и рефералы</a>
        </li>
        <li class="btn btn-default">
            <a data-target="#buyer-reports-view" href="#buyer/reports">Отчёты</a>
        </li>

        <li class="btn btn-default">
            <a data-target="#buyer-messages-view" href="#buyer/messages">Сообщения</a>
        </li>

    </ul>
    <div class="clearfix">
        <br>
        <br>
    </div>

    <div id="buyer-view-region"></div>
</div>