<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4>
            Больше потратил (день):
        </h4>
        <div id="DAY_OF_SUM" class="table-responsive"></div>
        <div id="DAY_OF_SUM_Pagination"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4>
            Чаще покупал (день):
        </h4>
        <div id="DAY_OF_COUNT" class="table-responsive"></div>
        <div id="DAY_OF_COUNT_Pagination"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4>
            Больше потратил (месяц):
        </h4>
        <div id="MONTH_OF_SUM" class="table-responsive"></div>
        <div id="MONTH_OF_SUM_Pagination"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <h4>
            Чаще покупал (месяц):
        </h4>
        <div id="MONTH_OF_COUNT" class="table-responsive"></div>
        <div id="MONTH_OF_COUNT_Pagination"></div>
    </div>
</div>