<ol class="breadcrumb" id="breadcrumbInShopPop">
    <li>
        <button id="shops-button" class="btn btn-shops" type="button" data-container="body" data-placement="bottom">Все
            магазины
        </button>
    </li>
    <li id="breadcrumbToShopLi"><a href="" class="breadcrumb__uri btn btn-shops" id="breadcrumbToShop"></a><a href="#" class="breadcrumb__uri btn btn-shops" id="closeShop"><i class="glyphicon glyphicon-remove"></i></a></li>

</ol>

<div class="js-shops-popover shops-popover" style="display:none">
    <div class="pull-right" style="margin-right:20px">
        <button type="button" id="closeBtn" class="close">
            <span data-id="close" aria-hidden="true">×</span>
        </button>
    </div>
    <div class="popover-head js-popover-head">
        <section class="clearfix">
            <h3 class="pull-left shops-popover-title js-shops-popover-title">Список магазинов-участников</h3>

            <div class="pull-right search-shops js-search-shops">
                <input type="text" placeholder="Вводите название магазина"
                       class="form-control search-shops-input js-search-shops-input">

            </div>

        </section>

        <section class="shops-filters js-shops-filters">
            <span data-id="popular" class="js-filter-button filter-button active">Самые популярные</span>
            <span data-id="alphabet" class="js-filter-button filter-button">По алфавиту</span>

            <div class="alphabet-filter js-alphabet-filter">
                <div class="sub-filter">
                    <div class="sub-filter-trigger numbers-block">0-9</div>
                    <div class="sub-filter-block hidden">
                        <a class="filter-action">0</a>
                        <a class="filter-action">1</a>
                        <a class="filter-action">2</a>
                        <a class="filter-action">3</a>
                        <a class="filter-action">4</a>
                        <a class="filter-action">5</a>
                        <a class="filter-action">6</a>
                        <a class="filter-action">7</a>
                        <a class="filter-action">8</a>
                        <a class="filter-action">9</a>
                    </div>
                </div>
                <div class="sub-filter">
                    <div class="sub-filter-trigger hidden russian-block" data-trigger="russian">А-Я</div>
                    <div class="sub-filter-block" data-action="russian">
                        <a class="filter-action">А</a>
                        <a class="filter-action">Б</a>
                        <a class="filter-action">В</a>
                        <a class="filter-action">Г</a>
                        <a class="filter-action">Д</a>
                        <a class="filter-action">Е</a>
                        <a class="filter-action">Ж</a>
                        <a class="filter-action">З</a>
                        <a class="filter-action">И</a>
                        <a class="filter-action">К</a>
                        <a class="filter-action">Л</a>
                        <a class="filter-action">М</a>
                        <a class="filter-action">Н</a>
                        <a class="filter-action">О</a>
                        <a class="filter-action">П</a>
                        <a class="filter-action">Р</a>
                        <a class="filter-action">С</a>
                        <a class="filter-action">Т</a>
                        <a class="filter-action">У</a>
                        <a class="filter-action">Ф</a>
                        <a class="filter-action">Х</a>
                        <a class="filter-action">Ц</a>
                        <a class="filter-action">Ч</a>
                        <a class="filter-action">Ш</a>
                        <a class="filter-action">Щ</a>
                        <a class="filter-action">Э</a>
                        <a class="filter-action">Ю</a>
                        <a class="filter-action">Я</a>
                    </div>
                </div>
                <div class="sub-filter">
                    <div class="sub-filter-trigger english-block">A-Z</div>
                    <div class="sub-filter-block hidden">
                        <a class="filter-action">A</a>
                        <a class="filter-action">B</a>
                        <a class="filter-action">C</a>
                        <a class="filter-action">D</a>
                        <a class="filter-action">E</a>
                        <a class="filter-action">F</a>
                        <a class="filter-action">G</a>
                        <a class="filter-action">H</a>
                        <a class="filter-action">I</a>
                        <a class="filter-action">J</a>
                        <a class="filter-action">K</a>
                        <a class="filter-action">L</a>
                        <a class="filter-action">M</a>
                        <a class="filter-action">N</a>
                        <a class="filter-action">O</a>
                        <a class="filter-action">P</a>
                        <a class="filter-action">Q</a>
                        <a class="filter-action">R</a>
                        <a class="filter-action">S</a>
                        <a class="filter-action">T</a>
                        <a class="filter-action">U</a>
                        <a class="filter-action">V</a>
                        <a class="filter-action">W</a>
                        <a class="filter-action">X</a>
                        <a class="filter-action">Y</a>
                        <a class="filter-action">Z</a>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <div class="shops-container js-shops-container"></div>

</div>
<!---->
