<div id="trader-bids">
	
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" id="brands-tab" class="active"><a href="#brands" aria-controls="brands" role="tab" data-toggle="tab">Бренды <i class="badge badge-border"><%- brandsQuantity %></i></a></li>
        <li role="presentation" id="products-tab"><a href="#products" aria-controls="products" role="tab" data-toggle="tab">Товары <i class="badge badge-border"><%- productsQuantity %></i></a></li>
        <li role="presentation" id="sellers-tab"><a href="#sellers" aria-controls="sellers" role="tab" data-toggle="tab">Продавцы <i class="badge badge-border"><%- sellersQuantity %></i></a></li>
        <li role="presentation" id="reports-tab"><a href="#reports" aria-controls="reports" role="tab" data-toggle="tab" style="padding-bottom: 12px;">Отчёты</a></li>
    </ul>

    <div class="clearfix">
        <br>
    </div>
	
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in active" id="brands">Загрузка...</div>
        <div role="tabpanel" class="tab-pane fade" id="products">Загрузка...</div>
        <div role="tabpanel" class="tab-pane fade" id="sellers">Загрузка...</div>
		<div role="tabpanel" class="tab-pane fade" id="reports">Загрузка...</div>
    </div>

</div>