<div class="goods-explore-page clearfix">
    <div class="col-sm-3 categories-tree-wrapper">
        <div class="left-blocks total-amount js-tree-header"></div>
        <div class="js-search-categories-region categories-region left-blocks"></div>
        <div class="js-filters-region filters-region left-blocks"></div>
    </div>
    <div class="col-sm-9 products-wrapper">
        <div class="js-shop-description-region"></div>
        <div class="js-search-products-region products-region col-sm-12"></div>
        <div class="row">
            <div class="js-search-paginator search-paginator col-sm-12"></div>
        </div>
    </div>
</div>