<th scope="row" >
    <div  class="checkbox">
        <label>
            <input type="checkbox" value="">
        </label>
    </div> </th>
<td><%= name %></td>
<td class="text-center"><%= creationTime %></td>
<td class="text-center">"n/n"</td>
<td class="text-left"><%= product.name %></td>
<td class="text-right"><%= quantity %></td>
<td class="text-right"><%= unitPrice %></td>
<td class="text-right"><%= linePrice %></td>
<td class="text-right"><%= discount %></td>
<td class="text-right"><%= totalPrice %></td>
<td>
    <i class="<%= stateImg %>" data-toggle="tooltip" data-placement="left" title="<%= statePop %>"></i>
</td>