<div id="buyer-profile">
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
            <a data-toggle="collapse" href="#collapseBuyerProfileDataRow" aria-expanded="false"
               aria-controls="collapseBuyerProfileDataRow">
                <h4>
                    <span id="collapseBuyerProfileDataRowHandle" class="fa fa-chevron-circle-right"> </span>
                    Регистрационные данные
                </h4>
            </a>

            <div class="collapse" id="collapseBuyerProfileDataRow">
                <div class="form-horizontal">
                    <div id="buyer-profile-data">

                    </div>
                    <div id="buyer-profile-btn">

                    </div>
                </div>

            </div>
            <a data-toggle="collapse" href="#collapseBuyerPersonalData" aria-expanded="false"
               aria-controls="collapseBuyerPersonalData">
                <h4>
                    <span id="collapseBuyerPersonalDataHandle" class="fa fa-chevron-circle-right"> </span>
                    Персональные данные
                </h4>
            </a>

            <div class="collapse" id="collapseBuyerPersonalData">
                <div class="row">
                    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
                        <div class="form-horizontal">

                            <div id="buyer-personalData">

                            </div>
                            <div id="buyer-personalData-btn">

                            </div>

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="row visible-lg">
                            <strong>Статус: </strong> Данные не подтверждены
                        </div>
                        <div class="row visible-lg">
                            <p>
                                Мы вынуждены попросить вас предоставить паспортные данные и копию паспорта для того,
                                чтобы в соответствии с требованиями законодательства мы имели возможность оплатить за
                                вас налог на доход физических лиц при предоставлении вам скидки или перечислении вам
                                денежных средств. Без предоставления паспортных данных и копии паспорта вы не имеете
                                возможности использовать начисленные вам бонусные балы Кверы
                            </p>
                        </div>
                        <div class="visible-xs visible-sm visible-md">
                            <strong>Статус: </strong> Данные не подтверждены
                        </div>
                        <div class="row visible-xs visible-md" style="margin-left:30px">
                            <p>
                                Мы вынуждены попросить вас предоставить паспортные данные и копию паспорта для того,
                                чтобы в соответствии с требованиями законодательства мы имели возможность оплатить за
                                вас налог на доход физических лиц при предоставлении вам скидки или перечислении вам
                                денежных средств. Без предоставления паспортных данных и копии паспорта вы не имеете
                                возможности использовать начисленные вам бонусные балы Кверы
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <a data-toggle="collapse" href="#collapseBuyerPaymentDetails" aria-expanded="false"
               aria-controls="collapseBuyerPaymentDetails">
                <h4>
                    <span id="collapseBuyerPaymentDetailsHandle" class="fa fa-chevron-circle-right"> </span>
                    Реквизиты для вывода средств
                </h4>
            </a>

            <div class="collapse" id="collapseBuyerPaymentDetails">
                <div class="form-horizontal">
                    <div id="buyer-paymentDetails">

                    </div>
                    <div id="buyer-paymentDetails-btn">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
            <h3 class="">Данные о регистрации</h3>
            <p>
                Дата регистрации <%- registrationDate %>
            </p>

            <p>

            </p>
        </div>
    </div>


</div>


