<div class="buyer-tabpanel orders orders--buyer" id="buyer-orders">

    <ul class="nav nav-tabs">
        <li role="presentation"><a data-target="#buyer-ordergroups" href="#buyer/orders/ordergroups">Заказы</a></li>
        <li role="presentation"><a data-target="#buyer-orders-current" href="#buyer/orders/current">Товары в заказах</a></li>
        <li role="presentation" class="hidden"><a data-target="#buyer-orders-history" href="#buyer/orders/history">История</a></li>
    </ul>

    <div id="buyer-orders-region" class="orders__region"></div>

</div>