<div id="buyer-orders-current">

    <div class="btn-group pull-right" role="group" aria-label="...">
        <div id="vent-export" class="btn btn-primary btn-xs">Экспорт списка в Excel</div>
        <div id="vent-orders-fetch" class="btn btn-primary btn-xs">Обновить</div>
    </div>

    <div class="clearfix"></div>



    <div id="buyer-orders-list" class="table-responsive"></div>

    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div id="region-bulk-actions"></div>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <div id="buyer-orders-pagination"></div>
        </div>

    </div>



</div>