<div class="col-xs-4"><a href="#manager/<%- id %>" class="js-profile"><%- name %></a></div>
<div class="col-xs-3"><%- shopsCount %></div>
<div class="col-xs-3 text-center"><%- phone %></div>
<div class="col-xs-2 text-center">
    <span data-id="<%- id %>" class="js-action-btn action-btn glyphicon glyphicon-briefcase js-give-shops" title="Передать магазины"></span>
    <span data-id="<%- id %>" class="js-action-btn action-btn glyphicon glyphicon-list js-statistics" title="Статистика"></span>
</div>
